[2018-08-10 14:47] smheidrich opened #1237 "Documentation: Slab surface normal explanation seems fishy to me"
## System

* Pymatgen version: v2018.8.10-4-g10cf55a00 (10cf55a00)
* Python version: 3.5.3
* OS version: Debian GNU/Linux 9 (stretch)

## Summary
In the documentation for the [pymatgen.core.surface.Slab](http://pymatgen.org/pymatgen.core.surface.html#pymatgen.core.surface.Slab) class, it says:

Do I have a knot in my brain or does that make no sense? If the surface normal is really oriented in the

[2018-08-10 21:27] montoyjh commented on #1237
I think @smheidrich has a point here, they're highlighting this statement in the documentation specifically:

I interpret this as "the surface normal should be parallel to the c-vector in all cases."  As you both are pointing out, this is untrue in general.  @smheidrich why don't you try making a small edit and submitting a PR?

[2018-08-10 22:07] smheidrich commented on #1237
@montoyjh Thanks, done.

@shyuep I agree with everything in your post (except for the first sentence of course), I just don't see how the statement that @montoyjh cited can be compatible with it. Or do we mean different things by a, b and c perhaps? I thought they were referring to the lattice vectors of the returned slab structure.

[2018-08-11 03:49] computron commented on #1236
Not sure why this is assigned to me (pretty sure I had no part in the original code)?

But anyway, I am not sure what os.path.pardir refers to in the above example.

I would suggest to just use monty zpath (https://pythonhosted.org/monty/_modules/monty/os/path.html)

Maybe something like this:

[code]

It's a bit convoluted but should work (?)

[2018-08-11 03:51] computron commented on #1236
nevermind just understood the os.path.pardir as ".." - but anyway would probably suggest the code snippet above if it works

[2018-08-16 09:35] zhaohuihai opened #1242 "Why the BandStructure and BandStructureSymmLine classes have different format of ["bands"] in as_dict()"
Hello,
I have found the following difference handling the band structure data:

https://github.com/materialsproject/pymatgen/blob/2e03585538072b9e71adaaaa659029f4beaa0a68/pymatgen/electronic_structure/bandstructure.py#L855

https://github.com/materialsproject/pymatgen/blob/2e03585538072b9e71adaaaa659029f4beaa0a68/pymatgen/electronic_structure/bandstructure.py#L551

Could you please explain why the

[2018-08-17 19:56] afonari opened #1244 "Possible error in strain.Deformation.apply_to_structure"
Possibly related to this commit: https://github.com/materialsproject/pymatgen/commit/2c3a8dc72dddc72c72ed0dd0b417edc29a76a844

In the test_apply_to_structure unit test (https://github.com/materialsproject/pymatgen/blob/master/pymatgen/analysis/elasticity/tests/test_strain.py#L43) lattice is defined as:
[code]

The deformation matrix is (from the deformation: self.norm_defo = Deformation.from_index

[2018-08-17 20:55] shyuep commented on #1244
@montoyjh

[2018-08-17 21:31] montoyjh commented on #1244
The cited lattice isn't cubic, the second vector has a nonzero x-component, which is deformed the same way as the first vector.

[2018-08-17 21:36] montoyjh commented on #1244
Put differently, the deformation gradient is a vector mapping, it's applied to each of the three lattice vectors independently.

[2018-08-20 12:52] afonari commented on #1244
Sounds good, thanks for the explanation @montoyjh!

[2018-08-20 12:52] #1244 closed

[2018-08-22 12:02] bonfus opened #1246 "Description of method `is_valid` is wrong"
Line 291 misleadingly states that the default value of tol is 0.01
https://github.com/materialsproject/pymatgen/blob/8cb71acda73b1544a08a087351edf30d68ed18da/pymatgen/core/structure.py#L283-L291

while it is actually defined as `DISTANCE_TOLERANCE=0.5` above.

[2018-08-22 16:40] mkhorton commented on #1246
Thanks for the report @bonfus! If you spot any other docstring errors you're also welcome to submit a fix directly (GItHub has an integrated text editor which makes this easy to do).

[2018-08-22 16:40] #1246 closed

[2018-08-23 10:27] qzhu2017 opened #1250 "suggestion in periodic.py"
## Suggested solution (if any)

In the Element class, there are plenty of grouping functions like
* is_transition_metal
* is_noble_gas
...

These are very good functions for one who wants to quickly obtain the select elements by properties. However, there was a special group of 'post_transition_metal' missing here. I suggest the developers add the followings in periodic.py

    @property
    def i

[2018-08-24 20:38] #1250 closed

[2018-08-30 01:21] tamuhey opened #1252 "Bug in API related to tasks?"
## Summary

* `GET https://www.materialsproject.org/rest/v2/tasks/` faild with a error
* the error states `NoneType object is not iterable`

## Example code

[code]
or

[code]

## Error message

[code]

## Env
`requests.__version__ = 2.18.4`

[2018-08-30 04:52] shyuep commented on #1252
@dwinston Can you check on this bug and fix it (with a unittest)? Thanks.

[2018-08-30 21:35] dwinston commented on #1252
@shyuep bug is fixed on MP backend, and #1254 guards against regression. Can close this.

[2018-08-30 21:41] #1252 closed

[2018-09-03 05:00] weixie4 commented on #1172
Just compile glibc 2.14 yourself in your home directory and add the compiled lib to your LD_LIBRARY_PATH. See:
https://stackoverflow.com/questions/35616650/how-to-upgrade-glibc-from-version-2-12-to-2-14-on-centos

Pymatgen will then work with Python 3.x.

Warning: I found that Anaconda's conda executable crashes with Segmentation Fault error this way. To circumvent it, just reset your LD_LIBRARY_P

[2018-09-03 05:17] weixie4 opened #1258 "bug in electronic_structure/bandstructure.py"
## System

* Pymatgen version: 2018.9.1
* Python version: 2.7.14 and 3.6.3
* OS version: CentOS 7.4.1708

## Summary

* On line 251, v is a Python list but called as a Numpy array

## Example code

[code]

## Error message

[code]

## Suggested solution (if any)
convert v to a numpy array before calling it. For example adding the following to line 245:
v=np.array(v)

Note this same bug exists not

[2018-09-03 16:04] shyuep commented on #1258
@computron I think this is yours?

[2018-09-03 16:14] computron commented on #1258
No I think this was all written by Geoffroy, with the last update to that line from you according to "git blame". I really didn't have much to do with writing the band structure classes apart from writing the specific BSDosPlotter and maybe a bugfix here or there

[2018-09-03 16:33] computron commented on #1258
@weixie4 can you attach the relevant files (vasprun.xml, KPOINTS, POTCAR) so we can debug?

@shyuep I am pretty sure one would get the same error just by calling ``bs.get_projection_on_elements`` without invoking BSDosPlotter at all, but I would need the raw VASP files to confirm

[2018-09-03 17:29] weixie4 commented on #1258
Sorry my Vasprun.xml file for band structure is huge (several GBs) and I confirm it’s not an error in BSDosPlotter function—see my suggested fix to module bandstructure.py

[2018-09-03 17:39] #1258 closed

[2018-09-03 17:40] shyuep commented on #1258
I pushed a more permanent fix.

[2018-09-03 18:45] weixie4 commented on #1258
Thanks @shyuep. I think this bug may be related to issue 1242 https://github.com/materialsproject/pymatgen/issues/1242 because tolist() is called in the end.

[2018-09-05 21:49] rwoodsrobinson opened #1261 "MPRester query for band_gap does not return full dict"
## System

* Pymatgen version: master
* Python version: 3

## Summary

* MPRester query output for 'band_gap' is not consistent with mapidoc
* expect a full dictionary of band gap information, but returns only a single band gap value (presumably from search_gap)

## Example code

[code]

## Expected output

(note: code from mapidoc)

[code]

## Actual output

[code]

[2018-09-06 12:59] danielsauceda opened #1263 "missing pymatgen.io version 2018.9.1"
## System

* Pymatgen version: 2018.9.1
* Python version: 3.5, 3.6
* OS version: ubuntu 14.04
* environment: using conda python
* installed via pip

## Summary
* Missing the **io** submodule, i.e pymatgen.io
* I want to interact with vasp. Therefore I must use `import pymatgen.io.vasp.inputs`
* navigating to the site-packages I can **clearly** see `~/anaconda3/envs/py36/lib/python3.6/site-packages

[2018-09-06 13:04] shyuep commented on #1263
I don't think there is a bug. Try `python -c "import pymatgen.io.vasp;print(dir(pymatgen.io.vasp))"`

[2018-09-06 13:04] #1263 closed

[2018-09-06 15:11] shyuep commented on #1263
It is probably because io conflicts with a built in python package.

[2018-09-07 18:39] mkhorton commented on #1261
This is an issue with the new builders on emmet, not directly an MPRester issue. Previously gaps from all tasks were included, now only the 'highest-ranked' gap is included:

https://github.com/materialsproject/emmet/blob/master/emmet/vasp/settings/materials_settings.json#L12

[2018-09-07 18:40] mkhorton commented on #1261
Will raise an issue on emmet to fix this.

[2018-09-07 18:42] #833 closed

[2018-09-09 20:47] #1066 closed

[2018-09-11 00:57] Shuyangzero opened #1267 "Is there a way that I can get a band structure projected on atom?s"
I can only get projected on element or orbitals when plotting the band structure. How can I project on atoms ?

[2018-09-12 00:56] tamuhey opened #1268 "Is there a method to parse a formula containing "@" ?"
I am searching a parser of chemical formula that can handle [Metallofullerene](https://en.wikipedia.org/wiki/Metallofullerene), whose formula contains "@" symbol.

For example, I tried to handle it with `pymatgen.core.composition.Composition` class, like below
[code]
but this causes an error:
[code]

I know I can deal with it by dropping "@" symbol in the formula, but I want to know cool way.

[2018-09-12 02:55] mkhorton commented on #1268
Hi @tamuhey , this isn't supported right now but you'd be welcome to submit a pull request to add this feature.

You'd want to strip out any '@' symbols present in the formula here:
https://github.com/materialsproject/pymatgen/blob/master/pymatgen/core/composition.py#L468

And then it should work as expected.

[2018-09-12 11:33] tamuhey commented on #1268
pull request #1269

[2018-09-12 16:19] mkhorton commented on #1236
@ajjackson would you be happy to submit a PR to fix using monty's `zpath` ? (monty is already a dependency of pymatgen, zpath handles a range of compressed formats so would be a more general solution)

[2018-09-12 16:29] ajjackson commented on #1236
Can put that together, sure. This seems to be exactly what `zpath` is for.

[2018-09-12 16:43] mkhorton commented on #1236
Many thanks :)

[2018-09-12 16:43] mkhorton commented on #1268
Thanks for this @tamuhey !

[2018-09-12 16:43] #1268 closed

[2018-09-12 20:07] mkhorton commented on #1169
The main problem with VIRE right now is that BVAnalyzer is re-run for every site, which is very inefficient. This is a common problem with a lot of the NN classes. The [`_get_valences()`](https://github.com/materialsproject/pymatgen/blob/master/pymatgen/analysis/local_env.py#L188) function is also not ideal because it has two nested try/excepts ... better would be to use AutoOxiStateTransformation

[2018-09-12 20:10] mkhorton commented on #1126
Note that you can now also get bond orders from `pymatgen.analysis.local_env.OpenBabelNN` also where bond orders are returned as neighbor weights.

[2018-09-12 20:10] #1126 closed

[2018-09-12 22:57] mkhorton opened #1273 "Make NearNeighbor an abstract base class"
A colleague had issues when trying to use analysis.local_env.NearNeighbor directly, which is not possible. This should be an abstract base class.

NearNeighbor could probably also be restructured a little to be friendlier to molecules and disordered structures, and avoid repeating any expensive structure operations (e.g. to avoid the issue with VIRE #1169 where BVAnalyzer is re-run on the whole st

[2018-09-13 21:36] shyuep commented on #1267
@hautierg Can you answer pls.

[2018-09-16 14:25] shyuep opened #1277 "Chemenv uses deprecated np.matrix"
When reporting bugs/issues, please supply the following information. If
this is a feature request, please simply state the requested feature.

## System

* Pymatgen version: "master"
* Python version: 3.7
* OS version: Mac

## Summary

* Chemenv uses lots of np.matrix, resulting in the following deprecation message.
[code]

## Suggested solution (if any)

* See suggested solution from scipy docs.

[2018-09-16 14:54] shyuep opened #1278 "Pourbaix tests are slow"
When reporting bugs/issues, please supply the following information. If
this is a feature request, please simply state the requested feature.

## System

* Pymatgen version: "Master"

## Summary

* See output from nose-timer below.
[code]

I am not sure why the MPR pipeline test needs to be done by pymatgen. That is a MP thing, not a pymatgen thing. At the very least, it needs to be simplified and

[2018-09-16 15:40] shyuep opened #1279 "Qchem tests are slow."
## System

* Pymatgen version: "Master"

## Summary

* QCOutput tests take so much longer than the entire VASP test suite, including CHGCARs.
[code]

[2018-09-17 17:13] shyuep opened #1280 "Ferroelectric classes use np.matrix"
## System

* Pymatgen version: Master

## Summary

* Currently the polarization module uses np.matrix, which will be deprecated from py3.8 due to the introduction of the matrix multiplication operator (@).
* This leads of excessive deprecation messages.

## Suggested solution (if any)

* Replace all np.matrix with np.array and use np.dot for not. @espottesmith

[2018-09-17 20:39] utf opened #1281 "VoronoiNN causes Python to crash"
Calling `pymatgen.analysis.local_env.VoronoiNN.get_voronoi_polyhedra()` on a structure obtained via `MPRester` is causing Python to crash. Note that Python itself is crashing, not just returning an error message.

The structure in question is: https://materialsproject.org/materials/mp-978085/. It is a relatively small primitive cell with only 4 sites.

## System

* Pymatgen version: 2018.9.12
* Py

[2018-09-17 21:04] utf commented on #1281
Looking at `VoronoiNN().get_voronoi_polyhedra()` in more detail. The code actually mentions the potential for a segfault to occur if the cutoff used is too small.

[code]

Increasing the cutoff in the above example actually fixes the error. It's not ideal that this is happening with the default cutoff. Is there some way to predict whether the cutoff will be too small and instead raise an error?

[2018-09-18 19:01] shyamd opened #1282 "Structure Predictor Lambda.json not included with package"
lambda.json in pymatgen.analysis.structure_predictor.data doesn't seem to be installed with the package from pypi or conda.

[2018-09-18 19:55] #1282 closed

[2018-09-18 19:57] shyamd commented on #1279
@samblau

[2018-09-18 19:58] shyamd commented on #1278
rofl @shyuep not following his own issue template :)
@montoyjh

[2018-09-18 19:58] shyuep commented on #1278
Erm, I did....

[2018-09-18 21:10] samblau commented on #1279
I sped up the QCOutput tests by about an order of magnitude a couple weeks ago. They now take ~16 seconds. A large QChem-centric pull request will be coming soon which will include those improvements along with many other updates.

[2018-09-19 13:39] #1277 closed

[2018-09-20 06:47] mkhorton commented on #1281
Yes, I did raise it at the scipy repo. No fix yet though :(

I don't really understand what specific set of conditions is causing this bug (hence the rather long bug report, because I couldn't find a more minimal example).

If you can find a sensible cutoff where this never happens, that would be ideal -- otherwise (as a temporary fix) I'm not sure if it might be possible to use multiprocessing, a

[2018-09-20 06:53] mkhorton commented on #1280
Tagging @blondegeek for this issue. This is news to me, but looks like numpy is deprecating np.matrix:

[2018-09-20 13:31] CMUShuyang commented on #1267
any updates ?

[2018-09-20 13:47] hautierg commented on #1267
Viet Anh, could you answer this?

Thanks,

Geoffroy

On 20 Sep 2018, at 15:32, Shuyang Yang <notifications@github.com<mailto:notifications@github.com>> wrote:

any updates ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/materialsproject/pymatgen/issues/1267#issuecomment-423184076>, or mute the thread<https://github.com/noti

[2018-09-20 13:48] hautierg commented on #1267
BTW, by “atom”, I guess you mean a site?

Geoffroy

On 20 Sep 2018, at 15:47, Geoffroy Hautier <geoffroy.hautier@uclouvain.be<mailto:geoffroy.hautier@uclouvain.be>> wrote:

Viet Anh, could you answer this?

Thanks,

Geoffroy

On 20 Sep 2018, at 15:32, Shuyang Yang <notifications@github.com<mailto:notifications@github.com>> wrote:

any updates ?

—
You are receiving this because you were mentioned.

[2018-09-20 13:51] CMUShuyang commented on #1267
Yes,  I want to know how different layers of slab contribute to the band structure (which is local band structure in p4vasp) Thanks so much !

[2018-09-20 14:50] anhhv commented on #1267
@CMUShuyang In pymatgen/electronic_structure/plotter.py, we supported a method to plot projection for given atoms (as listed in POSCAR 1, 2, 3, or 1+2, 3+4, ...), given orbitals (s, p, d, f or px, py, pz, px+py, and so on) and given branches of the electronic band structure (e. g. \Gamma-X). It's named as "get_projected_plots_dots_patom_pmorb".

P/S: More details about this method are in its docst

[2018-09-20 21:00] mkhorton commented on #1281
@utf I tried the following snippet with a known bad array:

[code]

This will raise a TimeoutError if the array is bad instead of completely crashing the parent process, so can be recovered from more gracefully.

Could you investigate if this approach could be integrated as a temporary fix, until the scipy bug is resolved, and submit a PR as appropriate?

[2018-09-20 22:37] utf commented on #1281
@mkhorton Nice idea. Will give it a go.

[2018-09-21 17:12] utf commented on #1281
I've implemented a version where this works nicely (e.g. it increases the timeout value/cutoff depending on the crash type) which actually correctly calculates the data for the difficult case I mentioned above.

Unfortunately, when I tried to use this with matminer to run over all the materials in the MP everything fell apart. Matminer already uses `Pool` to speed up featurization, and in the stan

[2018-09-21 17:17] mkhorton commented on #1281
That's a shame about matminer, but from the pymatgen-point-of-view we can't really be responsible for other libraries that might also want to use multiprocessing, since we use multiprocessing elsewhere in pymatgen to speed up several operations.

That said, it does look like creating pools-of-pools might be possible. Could you use concurrent.futures for this instead? https://stackoverflow.com/a/17

[2018-09-21 20:15] CMUShuyang commented on #1267
Thanks so much ! I tried with this method, it can only plot a different band structure with just the selected site. Can I also plot graph like this in pymatgen ?
![picture1](https://user-images.githubusercontent.com/35701741/45903915-4b04b800-bdb9-11e8-8891-c2da50a70bfe.png)

Another question is , is there a same way to plot the partial dos for different site ? Thanks again !

[2018-09-21 21:28] anhhv commented on #1267
Hi,

I did not completely understand your first question? Do you want to play with color and plot projection of different atoms in one band structure? In plotter.py, there exists a method named "get_elt_projected_plots_color" allowing you to plot projections on maximum there types atoms but you cannot select specific atoms (the projection for each sort of atom is sum over all the same-type atoms).

[2018-09-21 22:46] ardunn opened #1286 "EnumerateStructureTransformation does not return structures with correct stoichiometries"
**Describe the bug**
Using `EnumerateStructureTransformation` with the `max_disordered_sites` parameter specified does not return structures with correct stoichometry. For example, with the attached cif file for Cu2.8Te2 the output structures should be Cu7Te5; however, the output structures are Cu3Te2.

**To Reproduce**
[code]

The original structure is:
[code]

The output structures are:
[code]

[2018-09-21 22:50] ardunn commented on #1286
For referene, the [topic on the pymatgen help group](https://groups.google.com/forum/#!topic/pymatgen/uK6kRiSqFEg)

[2018-09-21 23:00] mkhorton commented on #1286
I'm a bit confused by this too. It seems clear the first ordering sets one `Cu:0.4` site to 0, and the other `Cu:0.4` site to 1, which is not completely unreasonable but obviously the overall composition is wrong.

I see this is @computron's code/Anubhav has already commented on the Google Groups thread, do you have any ideas where the rounding from 0.4->0.5 occupancy is happening before I take a

[2018-09-24 00:18] CifLord opened #1288 "Are there any plans on adding plotly based plotting codes to pymatgen (or to the optional requirements) in the future?"
This might be useful for future plotting codes such as the periodic heatmap plotter. It may be useful to have interactive features for the periodic heatmap to compete with some similar codes outside of pymatgen.

[2018-09-24 02:10] shyuep commented on #1288
I am all for adding plot.ly based GUIs. But as a longer term strategy, we probably cannot be implementing GUIs on a regular basis as frameworks and code changes.

My suggestion is to think of a "universal" plot data container, e.g., a Pandas Dataframe. Then we implement a few things that translate the universal container to matplotlib or plot.ly/Dash. Of course, matplotlib and Dash already support

[2018-09-24 03:29] mkhorton commented on #1288
Yes, I have two specific thoughts on this:

1. The current limitation with a lot of the pymatgen plotting methods is that they output a matplotlib plot directly rather than an intermediate format. This makes re-plottinig with alternative tools difficult. So I agree, a common plot data container will be convenient -- whether pandas or otherwise.

2. For plot.ly specifically, plot.ly graph objects *

[2018-09-24 14:54] mkhorton commented on #1288
@richardtran415 with regards to the periodic heatmap plotter, I saw the [plot.ly example here](https://plot.ly/python/annotated_heatmap/#custom-hovertext). Was there another good example you've seen of this in another code?

[2018-09-24 19:19] richardtran415 commented on #1288
The interactive periodic heatmap was just something I have heard about previously in some of the MP meetings. I just thought it might be nifty to have an interactive version of the heatmap on util/plotting.py since it was brought up a couple of times

[2018-09-24 19:35] mkhorton commented on #1288
I agree. The one advantage of making plot.ly an explicit dependency is that we could have interactive plots in Jupyter -- not just periodic table heatmaps, but phase diagrams, band structures, etc. Will have a think of the best way we could structure this. (@montoyjh reminded me of the dataframe plotting functionality in matminer too, perhaps there's a way we could structure this into a common lib

[2018-09-24 22:34] computron commented on #1286
The ``max_disordered_sites`` option is supposed to be a way to help you find a good ``max_cell_size`` parameter. Rather than a single ``max_cell_size``, it keeps incrementing ``max_cell_size`` (starting small and getting higher) until EnumlibAdapter returns a solution. If EnumlibAdapter finds any solution, the iteration will quit. Thus, it tries to find the minimum ``max_cell_size`` that produces

[2018-09-24 22:54] computron commented on #1286
Note also that the intention of ``max_disordered_sites`` was to help make EnumerateStructureTransformation a bit more automatic.

That said, I think this needs a rework. Maybe a separate wrapper for the automatic function. Also the automatic function can:
- turn the individual site occupancies into fractions, with some tolerance. e.g. 1/4, 1/2, 1/3 occupied.
- take the least common multiple of the

[2018-09-24 23:07] shyuep commented on #1286
I think the problem is in enumlib itself. I did some basic debugging and the structure supplied to enumlib is not changing between loops. So somehow, enumlib is assuming that a 0.4 occupancy can be satisified by a Cu3Te2.

[2018-09-24 23:09] mkhorton commented on #1286
We could apply some sanity checks on the output / enforce a 'strict' mode to filter these incorrect composition structs out.

Agreed the ultimate issue is enumlib. It's too much of a black box for my liking.

Would also be happy to adopt the LCM approach suggested, I've tried something similar previously, possibly in MagOrdering, would have to check. I know we have `DiscretizeOccupanciesTransforma

[2018-09-24 23:11] shyuep commented on #1286
We could apply sanity checks, but I think let's confirm that the problem is indeed in enumlib, and not in some weird issue in pymatgen's generation of enumlib input files. If there is indeed a problem with enumlib, we should post an issue on enumlib itself and let Gus Hart know. On our end, we should probably implement a tolerance check that the compositions returned matches the intended ones to w

[2018-09-24 23:33] richardtran415 commented on #1288
I definitely agree there should be a common plot containner for all plotting devices on pymatgen instead of just a pyplot object. This not only allows users to go back and forth between a static and interactive plot as said, but it also allows for better user customization of certain plots.

I was just wondering since there was a lot of interest during the Website meeting over interactive plotting

[2018-09-25 00:13] #1286 closed

[2018-09-25 00:18] shyuep commented on #1286
I found the issue. The problem in this case is that the base (which is multipled by conc to generate composition ranges) is too small a number. That resulted in rounding precision errors which causes an overlap between the species and vacancy concentration ranges when generating the enumlib input file. For example, with base 8 and a supercell size of 2, the input file generated has the range of 2-

[2018-09-25 00:49] mkhorton commented on #1286
Nice catch, and duly noted! Will add it to the list ...

[2018-09-25 00:55] mkhorton commented on #1288
Ok, I may prototype something out ... I'm considering a `Plottable` mixin that may do some of what we've talked about.

Yes, completely agreed with this!

[2018-09-25 03:02] shyuep commented on #1286
Note that the fixed EnumlibAdaptor caused the max_disordered test to fail. The problem is that the max disordered test was actually wrongly coded. There was a primitive cubic cell with Li 0.2, Na 0.2 and K 0.6 + 1O. If you order this with max_ordered = 5, you obviously must have a cell with 10 atoms. The test was checking that it has only 8 atoms!! The above fix actually solves this problem.

[2018-09-25 17:30] computron commented on #1286
A quick postscript: @utf will be looking into coding an alternate enumerator in pymatgen using the bsym (https://github.com/bjmorgan/bsym) library. According to Alex, this library might improve upon common problems with enumlib.

[2018-09-26 18:20] utf commented on #1281
I tried implementation a number of ideas based on your suggestion. All worked equally well at catching the python crash but also caused issues with `matminer`. Unfortunately, when you start a process from within another process (either through `ProcessPoolExecutor` or by hacking `multiprocessing.Pool` to spawn non-daemonic processes), you get a severe performance loss due to extra overhead, which

[2018-09-26 21:27] #1281 closed

[2018-09-29 20:09] #1223 closed

[2018-09-30 21:41] mkhorton opened #1292 "Longest running tests"
[success] 20.10% pymatgen.io.qchem.tests.test_outputs.TestQCOutput.test_all: 153.4455s
[success] 6.81% test_gb.Test_GBGenerator.test_gb_from_parameters: 52.0188s
[success] 3.77% pymatgen.ext.tests.test_matproj.MPResterTest.test_get_pourbaix_entries: 28.8016s
[success] 2.90% test_elastic.DiffFitTest.test_fit: 22.1355s
[success] 2.81% pymatgen.analysis.tests.test_pourbaix_diagram.PourbaixDiagramTest

[2018-10-02 11:33] MLars opened #1294 "Slab generator doesn't find all surfaces, possible bug in symmetry routines"
Dear community,

first of all I would like to thank you for the great work you put into the project. I started working with pymatgen a few months ago. I stumbled across the "bug" by accident and did quite some tests for verification.

The intention to use pymatgen was the availability of a slab generator for crystals in order to study surfaces of hexagonal crystals, namely LiNiO2, which is a commo

[2018-10-02 13:53] shyuep commented on #1294
Thank you for the comprehensive report. However, I don't think you are doing the slabs right in VESTA. First of all, you can logically reason (without any code) that it is an impossibility that (102) is not equivalent to (012) in hexagonal systems. By definition, hexagonal systems have a 3/6-fold rotational symmetry. So anything that involves permutation of just the first two miller indices must r

[2018-10-02 15:01] MLars commented on #1294
Dear shyuep,

thank you for your time and your kind reply.
First of all, I am aware of the fact that in hexagonal systems the 4-index notation should be valid and I would conclude that (102) and (012) are equivalent. The exact crystal system based on the spacegroup analysis of pymatgen is trigonal. But also for trigonal systems the 4-index notation should be valid (please correct me if I am wrong)

[2018-10-02 15:44] shyuep commented on #1294
Sorry, you are right - the two planes are not equivalent. Let me ponder the problem a bit more.

[2018-10-02 17:16] shyuep commented on #1294
Lars, I did some basic investigations (note: I was the one who coded the slab generators). It seems to me that the hex setting of the rhom system does not preserve all symmetries. If you instead use the primitive rhom cell of LiNiO2 to generate the slabs, you have 35 slabs within a max miller index of 2 instead of 31 generated for the hexagonal non-primitive cell. If you map the (102) and (012) mi

[2018-10-03 06:13] mkhorton opened #1295 "Possible issue with DLSVolumePredictor"
**Describe the bug**

In a very small number of cases, `DLSVolumePredictor` seems to be giving non-sensical volumes.

**To Reproduce**

This structure almost made it to MP (though way off the hull!):

[code]

I haven't got the exact input structure to hand, but the input was sensible, but the DLS predicted volume is 8786.83 Å^3, or 9226.18 Å^3 with icsd_vol=True.

**Expected behavior**

Perhaps so

[2018-10-03 06:19] mkhorton commented on #1295
Also tagging @tschaume here

[2018-10-03 16:15] mkhorton commented on #1273
Adding a small note here that MinimumDistanceNN will fail (empty list) if cutoff too small (e.g. very large cells, lots of vacuum), should increase cutoff dynamically; cutoff not relevant to algorithm output as long as it's large enough, it's just for optimization.

[2018-10-03 16:15] mkhorton commented on #1273
Also adding a note that JmolNN can be refactored to use CutoffDictNN.

[2018-10-03 16:20] mkhorton commented on #1295
Increasing cutoff by 10-20x (tried up to 80.0) also doesn't seem to change the result.

[2018-10-03 21:17] shyuep commented on #1292
I basically halved the time for tests by using multi-processing. Some of the io bound tests (e.g., getting data from MP / reading from files) are sped up enormously. But I sitll prefer to get total test time down below 10mins. Right now it is 20mins, down from 40mins.

[2018-10-03 21:18] shyuep commented on #1295
@computron Incidentally, why are we using DLS? In most instances, the RLS should work fine. As far as I know, we don't have any method of structure prediction from completely unknown crystals.

[2018-10-03 23:16] computron commented on #1295
1. I don't know where DLS is being used by MP (or why it was chosen instead of RLS)
2. Sanity checks would be good
3. Crazy failures do happen with DLS, we've seen it before. DLS tries to make sure that no two atoms are "too close". If _any_ two atoms happen to be closer than DLS expects, the entire volume of the cell is expanded to bring the atoms to an "expected" distance. Two enhancements to mi

[2018-10-03 23:29] shyuep commented on #1295
For MP, I would suggest we use RLS *unless* there is no parent structure. Since RLS always starts from a known parent, it is very unlikely you have problems such as atoms being too close together.

I am by no means suggesting we fix the DLS algo - I think we have more important things we are all going after.

[2018-10-04 10:54] MLars commented on #1294
Today I confirmed that with the primitive cell as a starting point both surfaces are reproduced.

[2018-10-04 16:31] sandipde opened #1296 "pip version 2018.9.30 is broken"
**Describe the bug**

upgrading pymatgen to latest version breaks the build. The previous version works okay.

system details: python3.6 with intel

<ipython-input-2-ad23870f0a12> in <module>()
      1 import numpy as np
----> 2 from pymatgen import Structure

~/.local/lib/python3.6/site-packages/pymatgen/__init__.py in <module>()
     54 # Allows from pymatgen import <class> for quick usage.

[2018-10-04 17:15] MLars commented on #1294
Dear wenhaosun,

I am also aware of this publication and I also sent you an email regarding the stability of the program. I almost forgot about it, because I believe I fixed it for the time being, at least the results seemed reasonable.

Best regards,
Lars

[2018-10-04 19:47] mkhorton commented on #1296
Interesting, thanks for the report. I tested the release and it installs fine on my machine, both with the macOS wheel and direct from source. There is no Linux wheel at present which means your computer has to compile the Cython coord utils itself, so this is likely a compiler issue on your own machine.

If you're using the Intel compilers, are you also using the Intel Python? e.g. see a similar

[2018-10-04 19:48] mkhorton commented on #1279
Thanks for fixing these in #1293 @samblau !

[2018-10-04 19:48] #1279 closed

[2018-10-04 20:14] mkhorton commented on #1292
This is great! I just re-ran nose-timer on my own machine, and found a few hot-spots to address next (including one of my own). Also in discussion with Joey about the Pourbaix tests.

[2018-10-04 20:30] sandipde commented on #1296
Thanks for your response. It might very well be it's something to do with
my system but in order to solve the problem, I carefully installed last few
releases one at a time and the lat at version only causes this issue. So I
think there must be something in the latest release that caused this. See
if you fix it someway, otherwise, I am sure building from source instead of
using pip would solve thi

[2018-10-05 18:41] mkhorton commented on #1296
I'm still not seeing the issue myself, but I'll leave this issue open for a while in case other people have the same problem so we can investigate further.

@shyuep issues with people installing from source and Cython/coord utils seem fairly common, e.g. also see: #1172 #1223 and [here](https://groups.google.com/forum/#!msg/pymatgen/KFS3oIFS-t0/20YCbhN0AwAJ), thoughts on having a pure Python fallb

[2018-10-19 00:49] utf opened #1301 "miller_index_from_sites gives wrong miller index"
The `pymatgen.core.surface.miller_index_from_sites` method gives incorrect results. It also seems quite temperamental about the choice of coordinates. E.g.

[code]

Gives `[-1.04,  0.  ,  0.  ]` rather than `[1,  0.  ,  0.  ]`.

Also, changing the atom coordinates slightly to:

[code]

Gives `[nan, nan, nan]`.

[2018-10-19 03:52] richardtran415 commented on #1301
Looking into it

[2018-10-19 05:17] utf commented on #1301
I've got a fix for this. Just doing some testing but will submit a PR tomorrow.

[2018-10-23 14:21] shyuep commented on #1294
This is fixed.

[2018-10-23 14:21] #1294 closed

[2018-10-23 14:45] MLars commented on #1294
Thanks a lot. I will test it tomorrow.

[2018-10-24 20:44] utf commented on #1301
Fixed in #1302

[2018-10-24 20:44] #1301 closed

[2018-10-24 22:02] hello-underworld opened #1306 "get_distance input (jimage) does not take tuple"
In core.structure module, there is a get_distance feature that looks like

def get_distance(i, j, jimage)

to get the distance of site index i and j with lattice translation of jimage. However, when inputted a tuple (say, I do get_distance(0,0,(1,0,0)), it gives me an error that says

"can only concatenate tuple (not "list") to tuple"

I have to do

jimage=np.array([1,0,0])

for this to work prope

[2018-10-24 22:49] mkhorton commented on #1306
Thanks @hello-underworld, this now has been fixed: https://github.com/materialsproject/pymatgen/commit/a1f48c89400405e22ca6fef2befbf8786f07368f

Please also feel welcome to submit a pull request if you encounter any further issues.

[2018-10-24 22:49] #1306 closed

[2018-10-25 20:27] mkhorton opened #1308 "Issues parsing Hydrogen potcars with non-integer charge"
**Describe the bug**

e.g. POTCAR.H1.25.gz, pop from empty list error.

[2018-10-26 20:39] utf opened #1309 "Bug in StructureGraph __mul__ method"
Creating a supercell then calculating the `StructureGraph` gives different result to first calculating the bonding then creating a supercell.

Issue appears to be in the `__mul__` method of `StructureGraph` as the bug occurs for different graph creation algorithms.

[code]

[2018-10-28 13:11] yjzhang97 opened #1310 "pymatgen.vis.structure_chemview bug"
**Describe the bug**
When I run this code in the jupyter notebook, it has a mistake.The prompt message is **A Jupyter widget could not be displayed because the widget state could not be found. This could happen if the kernel storing the widget is no longer available, or if the widget state was not saved in the notebook. You may be able to create the widget by running the appropriate cells.**.What

[2018-10-29 20:47] mkhorton commented on #1310
I think you're right, we're actively exploring different visualization options for pymatgen, and currently have a new solution in development.

We've had problems getting chemview working in other contexts too, and chemview itself is now officially deprecated, so we should probably deprecate the chemview viewer in pymatgen also.

[2018-10-30 00:14] mkhorton commented on #1309
Thanks for opening this, I'm going to add the minimal example you shared with me here for a reference:

[code]

Proposed resolution is to add this as a test case, re-write the __mul__ method for simplicity+speed by allowing supercell creation but not a change of basis (e.g. for graph, only support multiplication by (na,nb,nc) at present and not the full 3x3 matrix supported by Structure, since thi

[2018-11-02 20:30] SeoinBack opened #1311 "no "cut off" values in "def get_connections(self)""
**Describe the bug**

In "pymatgen/analysis/structure_analyzer.py", "get_connections" has no cutoff setup while "class VoronoiConnectivity" has.

    def get_connections(self):
        """
        Returns a list of site pairs that are Voronoi Neighbors, along
        with their real-space distances.
        """
        con = []
        maxconn = self.max_connectivity
        for ii in range(0, max

[2018-11-02 23:58] shyuep commented on #1280
I really need this to be dealt with soon. The visual noise from this deprecated use of np.matrix is overwhelming. @blondegeek When can we expect a fix?

[2018-11-04 01:19] tlsong opened #1314 "Missing test data for EOS analysis"
Maybe   eta = (volume / v0) ** (1. / 3.) should be change to eta = (v0 / volume) ** (1. / 3.)??
In the code below:
`class BirchMurnaghan(EOSBase):

    def _func(self, volume, params):
        """
        BirchMurnaghan equation from PRB 70, 224107
        """
        e0, b0, b1, v0 = tuple(params)
        eta = (volume / v0) ** (1. / 3.)
        return (e0 +
                9. * b0 * v0 / 16. * (

[2018-11-04 18:54] mkhorton commented on #1314
Thanks @tlsong

@katherinelatimer2013 is this correct?

[2018-11-04 20:19] mkhorton commented on #1280
I took a quick look at fixing this, diff here:

https://github.com/materialsproject/pymatgen/compare/master...mkhorton:ferroelectric-deprecation-fix

All tests pass except for `test_get_polarization_change_norm()` with:

[code]

This seems like a trivial fix, but it's not immediately obvious to me where the extra dimension came from.

[2018-11-04 20:39] #1308 closed

[2018-11-04 22:03] katherinelatimer2013 commented on #1314
Yes, I used eta = (v0 / volume) ** (1. / 3.) (the same as what @tlsong has suggested) in the EOS analysis. Not sure at what point this bug arose but it should be changed. Thanks for pointing it out!

[2018-11-04 22:09] mkhorton commented on #1314
Ok, that's good to know, thank you! I can see there's data in the tests, but it looks like a few test lines are commented out, and as far as I can see there are also no reference outputs for the various EOS equations? In other words, I can fix this bug, but the test output is the same, which seems like an issue.

Do you have some known-good reference EOS values to hand for the "# Si data from Corm

[2018-11-04 22:15] mkhorton commented on #1314
Also tagging @shyamd here, since I know you were involved with the EOS analysis too

[2018-11-05 01:29] katherinelatimer2013 commented on #1314
My end of the project didn't really involve much code development, so I wasn't too worried about tests at the time. I could dig up some EV curves but don't have Cormac's data.

[2018-11-05 01:39] mkhorton commented on #1314
Yeah, sorry I just checked the git history -- looks like this is actually mostly Kiran's code. Will merge the fix for now anyway and create an issue for additional test data.

[2018-11-05 01:41] shyamd commented on #1314
The EOS module was coded up @matk86 copying code from cormac.
@katherinelatimer2013  Can you dig up one of your curves that you computed EOS the params yourself for? I'd give that the highest likelihood of being correct.

[2018-11-05 03:01] shyuep commented on #1314
Note that I am this close to junking this code. We really shouldn't be allowing substandard code with no tests into pymatgen.

[2018-11-08 19:04] utf opened #1321 "Bug in NearNeighbors.get_all_nn_info"
When the fractional coordinates of a site contain `1.`, the bonding to the site is duplicated.

**To Reproduce**

[code]

Returns 1 connected site, as expected. Changing the fractional coordinate of the site from `0.` to `1.`, should not affect the bonding as the site is in the same position. However:

[code]

Returns 2 connected sites. One with `jimage = (0, 0, 0)` and the other with `jimage = (1

[2018-11-08 21:08] mkhorton commented on #1321
Agree with @WardLT's comment here that this should probably just me moved to be a `image` property on PeriodicSite (as well as fixing the underlying bug).

[2018-11-08 21:30] mkhorton commented on #1321
There also seems to be a larger issue with the construction of Structure and if fractional coords should be wrapped to [0,1) by default, which might help avoid some of these issues.

[2018-11-08 21:32] WardLT commented on #1321
I agree with wrapping the fractional coordinates to [0, 1) by default and that providing fractional coordinates that do not match with the image is indeed a worry. Perhaps the solution is to only include the image id in the initializer or to wrap the fractional coordinates to [0, 1) (requiring that image is specified), and generate the fractional coordinates of an image on demand.

You are right t

[2018-11-08 21:34] shyuep commented on #1321
No. Do not wrap the frac coordinates by default. there are good reasons to retain whatever coordinates there are, e.g., in MD simulations where a site in a different image is treated differently. By all means implement necessary processing in CrystalNN or NearestNeighbor. But please do not touch core classes like PeriodicSite or Structure unless there is a clear bug in those.

[2018-11-08 22:02] mkhorton commented on #1321
Note we are not discussing having PeriodicSite wrap frae-coords, but whether frac-coords should be wrapped during Structure init, i.e. whether all sites in Structure should be in the origin image by default.

The modification to PeriodicSite suggested here is adding a `.image` property or method that would return what periodic image that site is in.

[2018-11-08 22:16] WardLT commented on #1321
What do you think of having the ability to optionally provide a image to the initializer, and have the .image property return that image if provided and one determined by `floor` otherwise? We could make sure to test that the coordinates agree with the image id to avoid mismatches.

At present, the difficulty in avoiding numerically-unstable operations to determine a image id isn't a bug. and I ag

[2018-11-08 22:38] mkhorton commented on #1321
I think `floor` either works or it doesn't, if it's fundamentally buggy for this purpose we shouldn't use it at all. I am honestly surprised it's too unstable for this however, though this is not the first time this bug has cropped up.

How can you perform this test?  The whole point here is that we are saying that `[1, 0, 0]` might mean image `(0, 0, 0)` and not `(1, 0, 0)` ... if you could test

[2018-11-08 22:44] WardLT commented on #1321
Good point! I was initially thinking "given the wrapped fractional coordinates and the image, we can compute an expected fractional_coordinates." But then realized that wrapping to [0, 1) will also be problematic. It seems the best we could do is check if the image is within 1 cell of correct (assuming that we either have an erroneous round-up or round-down error). Hmm, more to think about.

[2018-11-08 22:46] utf commented on #1321
The bug I described is different from the numerical precision error in `_get_image`. As you allude to above, the point at which `_get_image` is called is too late to do any sort of wrapping logic.

My bug can be fixed by redefining `get_all_nn_info` as follows:

[code]

The `translate_sites` call will wrap the site before analysis. Are you guys happy if I make this change to tackle this issue for

[2018-11-08 22:50] mkhorton commented on #1321
Also, it won't fix get_nn_info right? Only get_all_nn_info

[2018-11-08 22:51] utf commented on #1321
Yeah good point, also won't fix `get_nn_images` etc.

[2018-11-08 23:09] utf opened #1322 "Refactoring dimensionality functionalities"
Currently there are two dimensionality finders in pymatgen, one in `pymatgen.analysis.find_dimension`, the other in `pymatgen.analysis.structure_analyzer`. I am about to submit a PR for a third dimensionality finding routine which is faster and more reliable than both the existing methods.

It seems like we should compile these together in a module and rename the methods to make it clear what they

[2018-11-08 23:15] mkhorton commented on #1322
Definitely should be combined into a common place. Perhaps all three in `pymatgen.analysis.dimensionality`? I could see a `Structure.get_dimension(algorithm='...')` convenience method maybe.

I believe the author of `pymatgen.analysis.find_dimension` is currently re-factoring their implementation for speed and reliability, but we can still move it.

Since all three different algorithms each are im

[2018-11-08 23:20] mkhorton commented on #1322
My big concern generally is discoverability. I think having it in StructureAnalyzer is probably the most sensible place, but I think it's easy for this to get missed.

[2018-11-08 23:20] utf commented on #1322
Agree that `pymatgen.analysis.dimensionality` seems like a logical place.

Ok, so I could rename the three methods to just:
[code]

[2018-11-08 23:20] shyuep commented on #1321
@mkhorton In general we should avoid making modificaitons to inputs. If I construct a structure or periodic site and say the coordinates are [1.1, 0.5, 30.1], it is a safe bet that I do not want it converted to [0.1, 0.5, 0.1] by default. So default behavior should not map to origin cell. If this needs to be done for NearestNeighbor or other analysis, by all means. If the default behavior is chang

[2018-11-08 23:29] mkhorton commented on #1321
@shyuep Yes, I understand -- I'd usually go by 'principle of least surprise' + if user is explicitly requesting something, it makes sense to respect that. There are some cases where un-wrapped frac co-ords are being passed 'accidentally' however (sometimes I think as the result of a symmetry operation being applied, moving a site to 1.), and this does then cause unexpected behavior in some cases.

[2018-11-08 23:47] shyuep commented on #1321
@mkhorton Structure does have a `to_unit_cell` parameter?

[2018-11-08 23:57] mkhorton commented on #1321
@shyuep Ah, indeed it does, my apologies! `to_unit_cell` is not in the docstring however :)

(`to_unit_cell` is mentioned in `.from_sites` but not in Structure/IStructure; likewise actually the `charge` kwarg is not in the docstring of Structure though it has been included in IStructure)

[2018-11-11 13:23] AustinApple opened #1325 "Error when downloading the data from Material project"
**Describe the bug**
I try to access the unit_cell_formula from Material project. In the beginning, it performance normally. However, sometimes, the error pops out
"('REST query returned with error status code 500. Content: b\'<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">\\n<html><head>\\n<title>500 Internal Server Error</title>\\n</head><body>\\n<h1>Internal Server Error</h1>\\n<p>The server

[2018-11-12 02:42] tamuhey opened #1326 "Is there a Enum of materials properties of MP database?"
Hi,

I want a python Enum of  materials properties of MP database, like below

[code]

I tried to write a script ([gist](https://gist.github.com/tamuhey/c3c655ce75d979ae144f1aed881c3f6a)).
If you think it useful, please include it to pymatgen package.

[2018-11-12 02:55] mkhorton commented on #1326
I think the closest to what you're looking for is `MPRester.supported_properties` in `pymatgen.ext.matproj`. You can also check out the [mapidoc](https://github.com/materialsproject/mapidoc) and other Materials Project API documentation.

Please not the Issues page is intended specifically to report bugs, we also have a [Google Group](https://groups.google.com/d/forum/pymatgen) for general questio

[2018-11-12 03:01] mkhorton commented on #1326
Hi @tamuhey, I think I misread your comment initially. We already have something similar to this Enum in  `MPRester.supported_properties` in `pymatgen.ext.matproj`. In general, the list of properties available on Materials Project does change, so I'm not sure that an Enum like this would be useful for us, but thank you for the suggestion. We do maintain the [mapidoc](https://www.github.com/materia

[2018-11-12 03:49] #1326 closed

[2018-11-13 21:21] blondegeek commented on #1280
Sorry for the delayed reply. I agree with @mkhorton's changes. The difference in shapes is I believe due to the following difference between `np.matrix` and `np.array` during subtraction:

[code]

For backward compatibility with the ferroelectric workflow in atomate, I would recommend a reshape that adds the additional dimension along axis=0. Otherwise, I would change the test to drop the axis=0 d

[2018-11-13 21:35] shyuep commented on #1280
Ok, can we fix and close this issue?

[2018-11-14 16:32] fxcoudert opened #1331 "MPRester fails to retrieve entries"
**Describe the bug**
Results from a particular MPRester query are wrong (no entries are retrieved, even though they exist).

**To Reproduce**

Running this script:

[code]

(where `XXXXXXXXXXX` is a valid MAPI key) gives the following output:

[code]

**Expected behavior**
The number of structures with 3 elements and elastic data should be 8028, not zero. This can be checked on the database websit

[2018-11-14 16:42] shyuep commented on #1331
The reason why this fails is because too much data is requested in one query. If you just need the elasticity data, it is not good to do it via this route. It asks for a lot of unnecessary data. Use the query method to do a more fine-grained query. REfer to the http://bit.ly/materialsapi and http://matgenb.materialsvirtuallab.org for examples.

That said, the code is bad for not highlighting the e

[2018-11-14 16:44] #1331 closed

[2018-11-14 16:45] shyuep commented on #1331
In particular, look at this notebook for a specific example on how elasticity data can be obtained. http://matgenb.materialsvirtuallab.org/2017/03/02/Getting-data-from-Materials-Project.html

[2018-11-14 17:20] fxcoudert commented on #1331
Using `query` gives me `pymatgen.ext.matproj.MPRestError: REST query returned with error status code 504`:

[code]

[2018-11-14 17:23] shyuep commented on #1331
This is a Materials Project issue. Donny should investigate.

Shyue Ping
On Nov 14, 2018, 09:20 -0800, FX Coudert <notifications@github.com>, wrote:

[2018-11-14 17:34] dwinston commented on #1331
@fxcoudert too much data is being requested in one query - that is why you are getting the error. The example notebook to which @shyuep linked was written when there were only 4,430 elastic tensors, whereas now there are nearly 14,000. I am working on a pull request (#1324) to adapt `MPRester.query` to better handle large requests.

[2018-11-14 17:39] fxcoudert commented on #1331
@dwinston I have tried to find the documentation on query size limits or rate limits in MAPI, but couldn't. Did I miss it?

[2018-11-14 17:44] dwinston commented on #1331
@fxcoudert it is not a limit we impose, but a limitation of the way we serve the data dynamically. Our API server queries the database, fetches the data, and returns it to you. Because the API server has limited RAM, it simply cannot serve too-large data requests in a single query. If we e.g. buffered and streamed the results to a temporary file, then we could give you a link to the file and you c

[2018-11-14 18:33] utf commented on #1322
This is fixed in #1323

[2018-11-14 18:33] #1322 closed

[2018-11-16 21:46] bencomer commented on #1172
hey, I had this error on our cluster and solved it by installing an earlier version of `spglib`. The first way I found to fix it was to just use pip to install `pymatgen` then downgrade the version of `spglib`. Commands below:

`pip install pymatgen; pip install spglib==1.9.8`

[2018-11-17 00:15] #1296 closed

[2018-11-17 08:07] dkorotin opened #1333 "pymatgen.io.vasp.outputs.Procar() doesn't read phase factors for VASP 5.4.4"
It seems that PROCAR file format was changed somewhere between VASP versions 5.4.1 and 5.4.4. Consequently, Procar() class constructor is unable to read phase factors properly.

**`head -20 PROCAR` for VASP 5.4.4:**
[code]

**`head -20 PROCAR` for VASP 5.4.1:**
[code]

[2018-11-19 02:54] #1280 closed

[2018-11-19 08:05] mkhorton commented on #1314
Started a fix for this https://github.com/materialsproject/pymatgen/commit/6a696ef6f01928a7fbbfdadca594e316992cfcb9 ... will be adding additional Vinet data courtesy of @katherinelatimer2013 also

[2018-11-21 20:50] CJBartel opened #1339 "More transparency with elemental reference energies"
I've sometimes found it difficult to figure out what elemental reference energies are used to map total energy to formation energy. This seems like a relatively straightforward feature to add - e.g., when querying the database allow a user to download a dictionary {el1 : mu_el1, el2 : mu_el2} for each chemical formula that is produced in the query. This information could also be put on the page fo

[2018-11-22 05:09] CifLord opened #1340 "Reorganization of SlabGenerator (or make a subclass of SlabTransformations for terminations)"
There are several methods of generating specific termination in surface.py:

- Simple cleavage: The original algorithm whereby we simply insert a vacuum at a termination to create a slab. This preserves the stoichiometry relative to bulk.

- get_tasker2_slabs(): This is a method built into the Slab object. It enumerates through rearrangements of ions at the surface to obtain non-polar terminations

[2018-11-25 23:04] #1314 closed

[2018-11-28 20:57] shyamd commented on #1325
Please do not post your API key in public space.

This is not a pymatgen issue. Occasionally the MP website has too many users for our current web servers and this causes this error.

[2018-11-28 20:57] #1325 closed

[2018-11-29 18:32] mkhorton opened #1348 "Clean up of warnings in test outputs"
Need to clean up warnings in test outputs to make test results easier to read.

Three main culprits: CrystalNN ("locate an appropriate radius", "distance cutoffs"), site merging in grain boundary (due to warning in Structure, "Sites with different site property grain_label are merged.so property is set to none"), and also CIF parsing warnings ("Issues encountered while parsing CIF").

[2018-12-06 21:23] CMUShuyang opened #1354 "How do I customize my INCAR ?"
Hi,

I am wondering if I can customize my INCAR by pymatgen ? For instance, is there a way to automatically write GGA+U 's parameters U and J in INCAR by the elements' order in POSCAR ?  Other tags like MAGMOM and  different values for EDIFF ?  Thanks !

[2018-12-06 21:48] shyuep commented on #1354
See http://matgenb.materialsvirtuallab.org/2017/04/14/Inputs-and-Analysis-of-VASP-runs.html

[2018-12-06 21:54] #1354 closed

[2018-12-07 14:06] Shuyangzero opened #1356 "A Bug in MPSOCSet with DFT+U"
Hi,

The MpSOCSet doesn't have the correct format for LDAUU, LDAUJ, LDAUL.

I specify 'LDAUJ':{'Eu':1}, 'LDAUU':{'Eu':8},'LDAUL':{'Eu':3} in my user_setting for MPSOCSet

But in INCAR, it displays as
LDAUJ = {'Eu': 1}
LDAUL = {'Eu': 3}
LDAUPRINT = 1
LDAUTYPE = 2
LDAUU = {'Eu': 8}

which doesn't extract the information out of the dictionary.

[2018-12-07 15:51] fallleave001 opened #1357 "Search Pt, seemed got wrong result"
**Describe the bug**

When using api to search Pt crystalline, got the following:

[Structure Summary
Lattice
    abc : 2.8120017156650783 2.8120017104377606 2.81200171
 angles : 59.99999988751204 59.999999949004994 59.99999997242852
 volume : 15.722867111767158
      A : 2.43526492 0.0 1.40600086
      B : 0.81175497 2.29598978 1.40600086
      C : 0.0 0.0 2.81200171
PeriodicSite: Pt (0.0000, 0.0

[2018-12-08 21:00] mkhorton commented on #1357
Hi @fallleave001, in what way does it seem wrong to you? They look correct. Note that the structure retrieved by the API is in a primitive setting and since Pt is a face-centered cubic crystal the lattice parameters in the primitive and conventional setting are not the same but are related by sqrt(2), so that the conventional lattice parameter computed by Materials Project is 2.812*sqrt(2) = 3.98

[2018-12-09 04:54] arosen93 opened #1361 "Suppression of warnings in CrystalNN"
**Is your feature request related to a problem? Please describe.**
The warnings are a bit overkill with `CrystalNN` when there are no oxidation states added for the structure. Oxidation states are often not feasible to add for complex materials, but `CrystalNN` is still one of the best NN algorithms implemented in Pymatgen and is useful without ionic radiil. Multiple warning messages for each call

[2018-12-10 05:52] fallleave001 commented on #1357
@mkhorton , Thanks a lot. It's my fault to misunderstand it. Now It works well. Please close this issue.

[2018-12-10 05:54] mkhorton commented on #1357
You’re welcome!

[2018-12-10 05:54] #1357 closed

[2018-12-10 05:56] mkhorton commented on #1361
Agreed these should be reduced (this is also mentioned in #1348, since the warnings are crowding the test logs)

[2018-12-10 06:00] arosen93 commented on #1361
Ah, I didn't catch the recent issue you opened. Well, glad we're on the same page! For context, I brought this up because I have a few codes I plan to release that use Pymatgen's `CrystalNN`, and having the end-user experience countless warnings because I am purposefully neglecting oxidation states is not the most desirable scenario.

[2018-12-10 06:05] mkhorton commented on #1361
It’s not ideal, but for your own code you can also do the following:

[code]

Also I’m sure you’re already aware, but pymatgen does have methods to guess oxidation states, which might also be helpful.

[2018-12-10 06:11] arosen93 commented on #1361
Thanks for the advice! I didn't know you could selectively suppress warnings like that. Very good to know.

With regards to guessing oxidation states, I have never had much success with the automated algorithms currently built into Pymatgen. I study MOFs, so I'm not sure it's the large unit cell, the often complicated electronic structure of the materials, or if the algorithms are mostly meant for

[2018-12-10 06:16] mkhorton commented on #1361
That’s fair, BVAnalyzer doesn’t scale very well to large structures. It’s bond valence parameters are due for an update though, so it could work better in future.

Note that Composition does now also have oxi_state_guesses which literally just tries to find the most probable combination of oxidation states. It’s pretty fast and works fine for larger structures, though I couldn’t say for MOFs. In a

[2018-12-13 15:58] cpashartis opened #1364 "Extracting new basis vector from core.surface.Slab"
Hello,

I hope I am in the right place.

I'm looking at trying to rotate the elastic tensor of a crystal structure to the direction of the slab surface I am looking at (h,k,l). However, there does not seem to be an easy way (the code is a bit unclear to me) of extracting **_which_** vectors the slab generator functions in core.surface selects when reorienting the surface.

Basically, given my orig

[2018-12-13 16:41] shyuep commented on #1364
Each slab is simply a structure. It also contains the oriented unit cell. So just looking at the lattice vectors of those will give you the basis vectors.

For general help that is unrelated to bugs and issues, please post on pymatgen google groups https://groups.google.com/forum/?fromgroups&nomobile=true#!forum/pymatgen or stack overflow with the tag pymatgen.

[2018-12-13 16:41] #1364 closed

[2018-12-13 16:42] JosephMontoya-TRI commented on #1364
Hi Chris,

I'm not 100% sure what slab generator does, but you might try using the `structure_transform` method on the oriented_unit_cell attribute of the slab, i. e.:

[code]

Note that this is somewhat new functionality, if anything behaves in a way that's seems off, please let us know.

[2018-12-13 21:05] shyuep commented on #1361
@computron I think you need to handle this. See https://circleci.com/gh/materialsproject/pymatgen/8237?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification for an example of the trigger happy nature of CrystalNN warnings. It is rather excessive and basically obscures more important messages. One warning per structure is quite enough....

[2018-12-13 21:43] computron commented on #1361
wow that is crazy, reminds me of "hit a member found in another star" in VASP

First, I fully agree that what's reported is completely overkill - no warnings at all is better than that craziness.

I am just confused because I thought the warnings package only warns once and then stops. For example, if I run the following code:

[code]

which calls CrystalNN 4 times, I only get a single pair of war

[2018-12-13 21:47] mkhorton commented on #1348
I should note I'm responsible for the CIF warnings -- I wanted to be clear if we were making changes to the CIF file during parsing to fix errors, will have a think about what best to do to suppress these however since we use a lot of CIF files in the tests.

[2018-12-13 22:03] shyuep commented on #1361
I have no idea. Does CrystalNN attempt to run the code with the same structure with different parameters?

In any case, warnings in regular usage is fine. But if they are not meant to cause test failures, I suggest you wrap them in the warnings.filter approach to suppress them in the test classes. That way we don't get an overwhelming amount of output.

[2018-12-13 22:04] shyuep commented on #1348
Generally, people should not be using CIF files to do tests. If there are useful structures that are repeatedly being used for testing purposes, it should be hard-coded or dump into a JSON for faster loading. CIF files need to be tested only in the CIF parsing classes.

[2018-12-13 22:07] computron commented on #1361
Even the tests, I only get a single warning (pair) across all CrystalNN tests:

[code]

So it's easy for me to wrap the tests in warnings.filter(), etc. but I still don't know why CircleCI tests or @arosen93 's code is giving so many warnings - so perhaps this would fix the CircleCI tests, but not @arosen93 's underlying problem.

I would imagine multiprocessing might give a warning per process, b

[2018-12-14 17:30] shyuep commented on #1361
For now, just suppress the test warnings. I do think the warnings are useful for general usage. It is just not useful for unittests.

[2018-12-14 17:35] arosen93 commented on #1361
@computron I've rerun my code now, and I only seem to be getting one pair of messages regardless of how many times `CrystalNN` is called. Apologies for the mistake there -- perhaps I forgot to clear old warnings in the log file or something similar. Just wanted to clarify.

[2018-12-14 17:47] computron commented on #1361
@shyuep Btw it's possible that the following unit test causes problems:

pymatgen.analysis.magnetism.tests.test_analyzer.CollinearMagneticStructureAnalyzerTest

That test calls ``warnings.resetwarnings()`` which will reset all the warning filters. Any test or code run after that might see lots of warnings that is not the default behavior.

In cc9f58332804a487c59e47d74bd04072a3d0e79b I store the pr

[2018-12-14 17:59] mkhorton commented on #1361
Hmm, that's my module but I didn't add that line. Maybe it was being too verbose, I'll take a look at it.

[2018-12-14 18:01] computron commented on #1361
The "git blame" says Hulk ... lol. Note that I'm not 100% sure it's the
culprit, but it might make sense.

On Fri, Dec 14, 2018 at 9:59 AM Matthew Horton <notifications@github.com>
wrote:

[2018-12-14 18:11] shyuep commented on #1361
It is actually me. Generally, wanrings.restwarnings switch back to default behavior. The idea is that for each test, you want to make no changes to the global system. There are some unittests which actually rely on catching warnings to check correct behavior. So resetwarnings is always in the tearDown stage.

The CrystalNN tests should not rely on the fact that the warnings filter is on some non-d

[2018-12-14 18:19] computron commented on #1361
It doesn't though. warnings.simplefilter("default") does that. warnings.resetwarnings removes all filters, which is NOT the default setting

[2018-12-14 18:21] shyuep commented on #1361
Ok, then. I just pushed a commit to try to fix this. Let's see if it solves the problems.

[2018-12-14 18:23] computron commented on #1361
(Ok - my commit cc9f583 referenced earlier also has a solution, I think)

[2018-12-17 15:49] shyamd commented on #1356
Please provide some test code that shows this behavior.

[2018-12-17 15:51] shyamd commented on #1340
I agree @richardtran415 .

I think Slab should be part of the core and the methods of generating slabs should be in analysis. SlabGenerator should be a module with one generator for each type of method.

[2018-12-17 16:20] shyamd commented on #1003
Taken care of in #1307

[2018-12-17 16:20] #1003 closed

[2018-12-17 16:22] shyamd commented on #1236
Fixed in in #1272

[2018-12-17 16:22] #1236 closed

[2018-12-17 16:58] #743 closed

[2018-12-18 08:35] fallleave001 opened #1368 "`AdsorbateSiteFinder.find_adsorption_sites()` assumes `mvec` is array"
in adsorption.py module, the function find_adsorption_sites(...), last line
[code]
seems should change to:
[code]

[2019-01-07 07:35] skasamatsu commented on #1047
Hi. I came across this problem as well. My use case was for saving very long MD trajectories where vasp is run several times in series. I would feed the Vaspruns into the DiffusionAnalyzer in series to monitor the mean square displacement after each vasp run, and do another subsequent vasp MD run if the MSD doesn't seem to be equilibrated enough.

[2019-01-07 14:44] shyuep commented on #1047
You need to be more specific on what is the exact error you seen. The DiffusionAnalyzer for MD calculations do not use from_dict at all.

[2019-01-08 01:44] skasamatsu commented on #1047
Sorry for being unclear. That was just explaining why I would want to save a Vasprun as_dict for later use with from_dict. The code snippet and error are as follows:

`from pymatgen.io.vasp import Vasprun
from pymatgen import MontyEncoder,MontyDecoder
import json

myvasprun = Vasprun("vasprun.xml",parse_dos=False,parse_eigen=False,ionic_step_skip=5)

with open('vasprun.json','w') as f:
    json.du

[2019-01-19 21:10] CMUShuyang commented on #833
Hi @mkhorton ,

I  have cleaved an organic surface by some miller indices but I found some broken molecules in the slab. Thus, I plan to use this method to identify the broken molecules and delete them from my slabs. Could you please give me some suggestions about how to do that? Thanks so much!

[2019-01-22 17:51] tboland1 opened #1376 "Poscar inputs.py 'selective_dynamics' attribute doesn't assign appropriately passed sdynamics tags when printing or writing to file. Error is in line 487 for the inputs.py script. Currently forces selective dynamics tags to all be T. Proposed change: sd = ["T" if j else "F" for j in self.selective_dynamics[i]] to [j for j in self.selective_dynamics[i]]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-01-28 20:17] mkhorton opened #1380 "XRD diffraction patterns not properly MSONable due to tuple keys ('hkl')"
@czhengsci I saw you created the Spectrum class, would you be willing to investigate this and submit a fix?

XRD patterns `.to_json()` is failing because the (h, k, l) values are stored in a dictionary key as a tuple:

[code]

A better way to store this might be:

[code]

This would avoid the error + also be more readable.

A full reproducible example:

[code]

gives:
[code]

[2019-01-28 20:32] shyuep commented on #1380
The bug does not lie in Spectrum, but specifically in XRD. Spectrum does not impose any restrictions on args or kwargs.

[2019-01-28 20:35] mkhorton commented on #1380
Yes, that's correct; apologies. We should probably also rename `DiffractionPattern` to `AbstractDiffractionPattern` since it can't be initialized directly / is not intended to be initialized directly.

[2019-01-28 20:36] mkhorton commented on #1380
`DiffractionPatternCalculator` I mean

[2019-01-28 21:01] #1380 closed

[2019-01-28 21:13] sivonxay commented on #1376
Hi Tara,

From what I understand, you're providing the selective dynamics as a list of 'T' or 'F' strings (e.g. {['T', 'T', 'T'], ['T', 'F', 'F'],['F', 'F', 'F']]} )

I don't think this is a bug in the code. The selective dynamics that Structure requires is a list of bool (e.g. {'selective_dynamics': [[True, True, True], [True, False, False], [False, False, False]]} )

[2019-01-28 21:16] shyuep commented on #1376
While it is indeed true that the current code takes booleans, I think we can modify it a little to support strings as well?

[2019-02-02 21:54] arosen93 commented on #1296
I just want to add that if anyone else comes upon this issue, using the Intel distribution of Python resolved it completely.

[2019-02-04 06:00] lan496 opened #1384 "Bug in StructureGraph.remove_nodes method"
**Describe the bug**
StructrureGraph.remove_nodes method  do not seem to change attributes of a graph.

**Environments**
python 3.6.4
pymatgen==2019.1.24
networkx==2.2

**To Reproduce**
[code]

I think this bug is due to the default behavior of networkx.relabel.relabel_nodes.
By default, relabel_nodes returns a relabeled graph object and does not relabel the nodes in place.
And I think remove_node

[2019-02-04 18:55] yurivict opened #1386 "netcdf4 should be declared as a dependency"
Simple import of this module fails:
[code]

You need to add netcdf4 to the package requirements,

[2019-02-04 19:42] shyuep commented on #1386
What were you importing? Just pymatgen?

[2019-02-04 19:57] yurivict commented on #1386
Yes. Once it is directly required by pymatgen, it should depend on it.

[2019-02-04 19:58] shyuep commented on #1386
I don't think pymatgen requires it. Pls provide the version of pymatgen you are using.

[2019-02-04 20:23] shyuep commented on #1386
This is a problem with the abinit module of pymatgen. Therefore, netcdf4 is required only for the abinit package. It is listed under optional dependencies. If you simply just use the rest of pymatgen, there is no requirement for netcdf4.

[2019-02-06 00:50] gmatteo commented on #1386
The netcdf library is required to read the netcdf output files produced by Abinit.
The library is one of the *optional* dependencies of pymatgen listed in requirements-optional.txt
To install netcdf for python, use:

[code]

or alternatively use conda and the command:

[code]

Alternatively, you may want to install the abipy package following the instructions reported [here](https://github.com/abi

[2019-02-06 03:35] #1384 closed

[2019-02-07 22:32] mkhorton opened #1388 "Consider renaming `stress` to `negative_stress` in VASP output parsing"
**Describe the bug**

Consider rename the parsed stress from a vasprun.xml/OUTCAR from `stress` to `negative_stress` to more explicitly communicate what is actually being parsed, e.g. consider the following (thanks @montoyjh):

[code]

We can then also add an explicit `stress` property that creates a `Stress` object on-the-fly with the conventional sense (i.e. not negative), which can then be used

[2019-02-12 18:25] computron commented on #1295
Given that DLS can give very bad results (even if sporadic, this method is often used in high-throughput), should we add a deprecation or warning to this technique? We might also add a warning if the final volume differs significantly from the initial volume.

It'd be nice if the code was still around somewhere, since it's referred to in a paper and anyone who is using it semi-carefully (e.g., wit

[2019-02-12 18:26] computron commented on #1295
I would also suggest trying some of the crazy failures with DLS using RLS to see if this problem is isolated to DLS or also happens with RLS. Both of them do have the problem that they scale volume in all directions, but it's possible / likely that the RLS error will be more controlled.

[2019-02-12 19:17] shyuep commented on #1295
I would suggest just a warning. Technically, it is not a deprecation given that we are not substituting it for a newer method. It is just a different method for a different use case.

[2019-02-12 20:22] shyuep opened #1393 "Bug in VoronoiConnectivity."
**Describe the bug**
There are failing tests with VoronoiConnectivity with new numpy version.
See https://circleci.com/gh/materialsproject/pymatgen/8309

**Desktop (please complete the following information):**
 - Master

[2019-02-12 20:44] computron commented on #1393
Why assigned to me? This is Will Richards's method AFAIK?

[2019-02-12 20:45] computron commented on #1393
Anyway maybe @utf from my team can look into it, and if no solution within an hour, to figure out what to do next

[2019-02-12 20:53] computron commented on #1295
I recommend closing this based on PR #1392 as I don't think we'll fix it any further than this anytime soon

[2019-02-12 21:01] #1295 closed

[2019-02-12 21:20] shyuep commented on #1393
Nvm. I fixed it.

[2019-02-12 21:20] #1393 closed

[2019-02-13 00:44] dwinston opened #1394 "Dash offline docs not being deployed"
**Description**
It seems that building/deploying of [Dash](http://kapeli.com/dash) docsets is not longer happening properly. The last version available is for the 2018.12.12 release.

To reproduce, one needs to have the Dash app for OSX.

[2019-02-13 04:19] shyuep commented on #1394
I have submitted a fix.

[2019-02-13 04:19] #1394 closed

[2019-02-19 06:41] priyashrv commented on #219
Hi Can you please let me know how to calculate transition probability ( if there is a script available ?) i have wavederf file with me ...Thanks

[2019-02-19 07:13] shaojim commented on #219
I use semi-conductor bloch equation to compute probability, please find in PRL 113, 073901 (2014)

[2019-02-19 17:22] fraricci opened #1397 "wrong magmom using MPSOCSet"
Hello,

I noticed that using MPSOCSet on a magnetic previous calculation,
it does not write the proper MAGMOM in the incar.
Example:
in: MPSOCSet.from_prev_calc('.').incar['MAGMOM']
out: [0.6, 0.6, 0.6, 0.6, 0.6]

Although, the returned structure contains the right MAGMOM:
in: MPSOCSet.from_prev_calc('.').structure.site_properties
out: {'magmom': [[0, 0, 0.523],
  [0, 0, -0.004],
  [0, 0, 0.122],

[2019-02-19 22:23] mkhorton commented on #1397
This line should already be there in MPSOCSet:

https://github.com/materialsproject/pymatgen/blob/master/pymatgen/io/vasp/sets.py#L1053

It's not clear to me why that wouldn't be working just by looking at it. If you can upload your example (or email me it directly), I can investigate further.

[2019-02-19 22:25] mkhorton commented on #1397
Oh, my mistake. I think I see what's happening.

[2019-02-19 22:29] mkhorton commented on #1397
@fraricci could you share your example files with me?

[2019-02-20 09:50] fraricci commented on #1397
Yes, it seems that all the necessary code to get the decorated structure is there.
But it works partially: it adds the magmom to the structure but the incar does not
receive this information. I guess the magmom come from the previous incar.
Indeed, when you try:
MPSOCSet(structure,prev_incar=None).incar
the magmom is now correct.
I had a look at all the code and tried something, but I did not find

[2019-02-20 16:19] ExpHP opened #1400 "Property abuse"
I alluded to issues of property abuse in #1398.  Allow me to describe what I'm talking about.

For better or worse, pymatgen appears to be following some design trend that any method which takes no arguments should be a property.  I will argue that this design decision is largely for the worse, resulting in a number of nasty surprises for the user.

I will suggest a general set of guidelines for p

[2019-02-21 02:19] shyuep commented on #1400
Thanks for the feedback. Just to address a few points:

i. The reason why properties are used is that these are indeed attributes. E.g., Structure.cart_coords - these refer to the cartesian coordinates of the Structure. Certainly, one can use the more cumbersome Structure.get_cart_coords() but that makes it rather less clean. Also, changing it into a method has no influence whatsoever on the O(N).

[2019-02-21 03:25] ExpHP commented on #1400
i. If you change the snippet to

[code]

then the fact that this could be expensive suddenly seems very obvious!  `cart_coords = structure.get_cart_coords()` looks like a reasonable thing to do, while some readers (unfamiliar with pymatgen's use of properties) might scratch their head at code like `cart_coords = structure.cart_coords`.

But it already computes all of the cartesian and fractional c

[2019-02-21 03:46] shyuep commented on #1400
I will ponder (i) a bit more.

As for the caching, it is really quite difficult to implement. Technically, if you want to change the cart or frac coords, the correct way is to do `structure.sites[0].cart_coords[0] = [0, 0, 0]`, not `structure.cart_coords[0] = [0, 0, 0]`. The former is of course extremely cumbersome. That is why Structure has helper methods like `structure[0] = "Fe", [0, 0, 0]` as

[2019-02-21 13:41] ExpHP commented on #1400
Oh, by the way, the goal with the cacheing is not to allow stuff like `structure.cart_coords[0] = [0, 0, 0]`.  (I think it would be far too difficult to make that work in a way that keeps the fracs in sync!). The goal is simply to make `cart_coords` return in O(1) time.

(my though is that the property could return a new array with the same data pointer but without the `writable` flag.  This would

[2019-02-21 20:06] mkhorton commented on #1400
Hi @ExpHP, to start with I just want to say thank you for writing such a detailed post, constructive criticism is always welcome + important to improving pymatgen going forwards :)

I'm not sure I'm convinced that the choice between whether a method should be a property or not should be related to its speed or whether additional computation is required, this seems like a somewhat arbitrary distinc

[2019-02-21 22:22] jennyfothergill opened #1401 "Unhelpful error message in BabelMolAdaptor"
**Describe the bug**

When I use BabelMolAdaptor.from_file() from pymatgen.io.babel, if I don't have OpenBabel installed, I get the following error:

[code]

It'd be more useful if this could tell me I'm missing OpenBabel and maybe even give me the line I need to install it e.g.
```conda install -c bioconda openbabel```

**To Reproduce**

Use BabelMolAdaptor.from_file() from pymatgen.io.babel with

[2019-02-21 22:48] ExpHP commented on #1400
PEP 8 does have one paragraph that talks about properties: (emphasis mine)

...but you are correct that the guidelines I provided are based on my own personal opinion, not on consensus, and that up until just now I was not even aware that PEP 8 contained this quote.

You are also right that the precise threshold is up to debate.  It doesn't have to be a hard line drawn at O(1). (though I did say *

[2019-02-21 23:17] #1401 closed

[2019-02-21 23:18] jennyfothergill commented on #1401
I found the helpful error message later. :)

[2019-02-21 23:20] shyuep commented on #1400
My view is that properties are essentially umambiguous attributes of the class. I think Cartesian coordinates of a Structure fall onto the borderline in this case. Also, performance is a rather subjective thing. People seldom complain about O(N) performance, esp when you are talking to people used to working with O(N^m) stuff like DFT.

I am open to deprecating cart_coords in favor of a get_cart_c

[2019-02-21 23:44] shyuep commented on #1400
@ExpHP To illustrate the inherent design choices, see this code:

[code]

The output is:
[code]

The inherent design of pymatgen's Structure is to encourage the test2 type of use, rather than the test1 kind of use.

[2019-02-22 12:30] lan496 commented on #1321
How do you define an image of a given site in pymatgen?

I think there are two possible definitions:
(1) just warping fractional coordinates to [0, 1)
(current implementation in pymatgen.analysis.local_env.NearNeighbors)
[code]

(2) displacement from original site(that do not have to be in unit cell), like this
[code]

Both of definitions return the same result for atoms in unit cell(i.e. when fra

[2019-02-22 14:25] ExpHP commented on #1400
I see. I don't want to suggest such large changes to the internal design without significant benefits (especially considering that many more costs will only become apparent during implementation). My goal here is largely to turn `.cart_coords[0] =` into an error, which is a fairly small benefit.

I am trying to think of other ways to prevent this mistake.
* Changing it to a method certainly does w

[2019-02-22 15:29] shyuep commented on #1400
Ok. I suggest you work on site_properties first. In my opinion, that is really badly implemented at the current moment (I was the one who did it, and didn't think it through). We can ponder the cart_coords a bit more.

[2019-02-22 17:10] mkhorton commented on #1321
I like definition (2), thank you for suggesting/offering to implement this.

[2019-02-23 19:13] #1321 closed

[2019-02-25 20:48] shyuep commented on #1400
One final comment on this: the merits of a ndarray/DataFrame like representation vs a list of Sites representation for a crystal structure has been debated sporadically with the pymatgen team (there was long debates between Will Richards and myself during the StructureMatcher development). There are use cases for both representations. One option is simply to have two alternative representations fo

[2019-02-25 20:51] shyuep commented on #1388
Given no one else has commented, I suggest you proceed and implement the change.

My principle for pymatgen is ask for forgiveness, not permission. If it breaks something elsewhere, we can revert it later.

[2019-02-25 20:52] #1376 closed

[2019-02-25 20:55] #1361 closed

[2019-02-25 20:59] mkhorton commented on #1388
Yeah, I'll go ahead and do this -- it will almost certainly break some things in automata and/or our builders however, but should be easy fixes.

[2019-02-27 00:49] tboland1 commented on #1376
Ahh. That would explain a lot. An interesting choice for a flag which I had not thought of. My bad, I missed the bool values in the documentation. It would be nice to have the option to pass a list of strings. It could be me but it seemed more intuitive to just supply a list which would be written to the POSCAR file.
Thanks for the help & insight! :)

[2019-02-28 13:57] priyashrv commented on #219
Hi, i am a newbie. I would like to calculate square of dipole transition matrix ie transition probability from vbm to cbm. i have wavederf file but i dont know how should i proceed. Any help would be great (like any script or code) Thanks.

[2019-02-28 14:11] shyuep commented on #219
@priyashrv Pls post this at https://pymatgen.discourse.group .

[2019-03-01 15:54] volodiag opened #1404 "Missing some radii & mistakes in commonness of some oxidation states"
There are some mistakes in the common oxidation state of some elements and some radii are missing.

When I do the following :

from pymatgen.core.periodic_table import Element
for Elem in Element:
    print(Elem)
    print(Element(Elem).common_oxidation_states)
    print(Element(Elem).ionic_radii)

I have the following
Ni
(2,)
{3: 0.74}
--> but in Shannon table oxidation state 3 is reported as wel

[2019-03-02 16:27] shyuep commented on #1404
Thanks. I agree the ionic radii tabulation is incomplete. In the first place, only one ionic radius is assigned to each oxidation state. Some of the elements have multiple ionic radius depending on coordination environment, oxidation state as well as high/low spin. The source of the ionic radii is https://www.wikiwand.com/en/Ionic_radius . I believe the reason why some of these are missing is beca

[2019-03-03 02:17] shyuep commented on #1404
Actually I just realized that get_shannon_radius would already do what you want. Pls see that method for Elements.

[2019-03-03 02:17] #1404 closed

[2019-03-04 17:19] shyuep opened #1405 "Abandoning immutability for Site, PeriodicSite, Structure and Molecule"
Historically, Site and PeriodicSite are considered immutable, as are IStructure and IMolecule. This is due to bad coding in the early days, which ports over the coding styles of Java to Python due to inexperience of @shyuep at that time.

These impositions are artificial, and indeed, have been violated in common practice. To simplify the code, I propose we abandon immutability for these core objec

[2019-03-04 17:33] mkhorton commented on #1405
I'm on board with this change.

In general, I like immutable data structures, and think they lend themselves to better code. However, they're only useful if they are used. I think the majority of pymatgen/MP users (and probably devs) have never used or are not aware of IStructure or IMolecule, people assume structures are mutable by default, and code like `structure.copy()` is very common for this

[2019-03-04 18:19] computron commented on #1405
IIRC, I think Hulk's original motivation for these was to have a safe object to use as dict keys.

A quick Github search for "pymatgen IStructure" does reveal that there are a lot of code snippets that use IStructure. But, it's not clear which of these snippets actually require IStructures.

For us, the only thing I remember is that we actually use IStructures in matminer as a way to help with cac

[2019-03-04 18:34] mkhorton commented on #1405
Always useful to have historical context! I can certainly see cases where having a structure as a dict key might be useful, but in general this seems a little dubious (given that many equivalent structures are not bit-for-bit identical, and I'm not sure how well defined the structure hash is either, so this would be probably be quite slow?). In any case, if this functionality is still required, we

[2019-03-04 18:38] shyuep commented on #1405
Yes, initially the idea is for IStructure to be hashable and usable as a dict key (or in a set). But given that it is basically near impossible to define structure equality outside the context of StructureMatcher, this is a theoretical, but not practically used feature.

As for caching, I am pretty sure immutability is not required.

Anyway, we can leave it for now. Even with the recent changes, t

[2019-03-04 18:57] shyuep commented on #1405
Just to give examples of how this change has impacted overall code:

i. Methods such as replace_species, etc. are now unified for both Molecule and Structure, instead of having duplicated methods for both (because originally, new Site/PeriodicSite had to be made). THis also makes it easier to maintain,.
ii. Many of the operations such as translate_sites can be done in place in the site, rather tha

[2019-03-05 05:25] utf commented on #1405
This is correct. For something to be hashable it has to be immutable, so we always cast to an IStructure for caching in matminer.

This would work for matminer purposes.

[2019-03-05 05:29] shyuep commented on #1405
The reason why Structure is not hashable is not because it is mutable, but because its `__hash__` is purposely set as None. We can of course just remove that and treat Structure like any other mutable object which always compare unequal and is therefore hashable.

[2019-03-05 06:01] TsumiNa opened #1406 "TypeError: invalid file pymatgen/core/periodic_table.json"
**Describe the bug**
import pymatgen in python3.5 will raise ``TypeError: invalid file pymatgen/core/periodic_table.json``

**To Reproduce**
Steps to reproduce the behavior:
1. pip install pymatgen=2019.2.28
2. import pymatgen
3. See error

**Logs**
[code]

**Additional context**
This error can be reproduced under Linux and OSX from version 2019.2.24. See link for details.

https://travis-ci.org/y

[2019-03-05 08:11] sphuber opened #1407 "Potential bug in `CifParser`"
**Describe the bug**
Due to the logic in the detection of `CifBlocks` in the content of a CIF, the `CifParser` can fail for certain CIFs with valid structure and syntax

**To Reproduce**
Call `CifParser` on a file with the following content:
[code]

Except we get an exception:
[code]

**Expected behavior**
A successfully parsed structure

**Desktop (please complete the following information):**
 -

[2019-03-05 11:05] cpashartis opened #1408 "surface.py and symmetrized slabs / vacuumless slab"
1. SlabGenerator.nonstoichiometric_symmetrized_slab will not make a symmetrized surface of a conventional Silicon unit cell in the [1,0,0] direction. It returns a non symmetrized surface.

2. SlabGenerator() with 0 vacuum should return a crystal oriented in the direction of [h,k,l]?

A clear and concise description of what the bug is.

**To Reproduce**

[code]

Case 1.
[code]
Case 2.
[code]
**Expe

[2019-03-05 11:14] merkys commented on #1407
@sphuber in the example CIF the terminating `;` is missing right after
[code]
as multiline CIF fields are expected to start and end with `;`.

[2019-03-05 11:17] sphuber commented on #1407
@merkys thanks a lot, I have updated the example

[2019-03-05 14:12] shyuep commented on #1406
Hi there, given that Python is now at 3.7 going to 3.8, v3.5 is rather old. Can you upgrade your Python version and see if it persists?

[2019-03-05 14:16] shyuep commented on #1408
@richardtran415 Pls look into Case 1.

For case 2, what you want is not to give a 0 vacuum. You should just simply get the `oriented_unit_cell` property for each slab, which gives the oriented bulk structure. The slabs generator assumes you actually want a slab structure, and so imposes some minimum space.

As for dependencies, I suggest you use miniconda and create an environment to install every

[2019-03-05 14:27] JaGeo commented on #1406
I had the same problem with python 3.5 on one computer and updated to python 3.7. With python 3.7, it worked fine.

[2019-03-05 14:31] shyuep commented on #1406
Closing this issue.

[2019-03-05 14:31] #1406 closed

[2019-03-05 17:49] utf commented on #1405
AFAIK comparing as equal is different to being hashable?

E.g.:

[code]

That said, we can just override the hash method using the frozendict idea that Matt suggested.

[2019-03-05 19:05] richardtran415 commented on #1408
@cpashartis

For Case 1. you should be using a.get_slabs() with the optional parameter "symmetrize" set to True instead of a.get_slab(). The latter is used by the former to generate slab objects but is typically not suppose to be called by the user.

[code]
[code]

This returns a list of slabs, but since there is only one termination for a diamond (100) structure, there should only be one slab in

[2019-03-05 19:22] shyuep commented on #1405
They are different. But equal objects must have same hash. From python doc.

```An object is hashable if it has a hash value which never changes during its lifetime ```

The reason why mutable objects are usually not considered hashable is because you would typically use an invariant property as a hash. For IStructure, the hash value is simply derived from the composition. For Structure, compositi

[2019-03-05 19:28] cpashartis commented on #1408
I will check this tomorrow, but then what you are telling me is that public
methods in the class yield different results... that is an issue I would
think no? Also did you try to print out the structure and visualize it?
Because I don't disagree it is Laue point group according to the symmetry
analyzer, *but* it clearly isn't inversion symmetric if you look at it.

Thanks,

Christopher Pashartis

[2019-03-05 19:33] #1408 closed

[2019-03-06 17:15] utf opened #1409 "Structure.get_primitive_structure incredibly memory intensive"
For certain structures, the `Structure.get_primitive_structure` can be incredibly memory intensive.

For example, for this structure (https://gist.github.com/utf/3982741b90a4fcb500998433e582d031), calling the function uses 20 GB of memory and takes ~2 min. Admittedly this structure has a very large unit cell (~800 atoms) but this memory usage is impractical.

Using the `SpacegroupAnalyzer.get_prim

[2019-03-06 17:28] shyuep commented on #1409
No to (a). I would say you can add an option to select the primitive finder for (b). Structure matching is meant to be symmetry independent. The Structure.get_primitive is also non-symmetry dependent. SpacegroupAnalyzer is symmetry dependent.

If you are getting structures from a expt database, by all means turn the tolerance down and use spglib to get a primitive version of the structure first. T

[2019-03-08 14:36] cpashartis commented on #1408
@richardtran415 The solution you gave me is not symmetric with respect to inversion symmetry. It is symmetric in one axis, not the other. You'll notice one of the atoms on the top surface doesn't have an inversion equivalent on the bottom surface.

Are our definitions different for symmetry? What am I missing here? Even your own comments designate symmetric as inversion symmetry and remove surface

[2019-03-08 16:01] wenhaosun commented on #1408
These slabs are clearly symmetric. Valid slabs can have mirror, two told,
four fold, six fold, glide plane or inversion symmetry.

On Fri, Mar 8, 2019, 9:37 AM Christopher Pashartis <notifications@github.com>
wrote:

[2019-03-11 07:21] TsumiNa commented on #1406
@shyuep THX! I will think about that.

[2019-03-11 16:35] dagonzalezfo opened #1410 "Wulffshape for hexagonal lattice"
**Describe the bug**
When I try to construct a Wulff shape for a hexagonal lattice Qhull generates the error
QH6154 Qhull precision error: Initial simplex is flat (facet 1 is coplanar with the interior point

**To Reproduce**
Steps to reproduce the behavior:
Execute the following commands with python 3.6.7

from pymatgen.core.surface import Lattice
from pymatgen.analysis.wulff import WulffShape

l

[2019-03-12 19:36] ldwillia opened #1411 "Outcar class reads in elements for ZVAL dictionary non-robustly"
Hello,

The Outcar class in pymatgen.io.vasp reads in the atomic species by searching for the name of the POSCAR file in the OUTCAR. This is not required to have anything to do with the atomic species for VASP calculations and can cause errors importing OUTCARs made from POSCARS that were not produced with pymatgen. It may be better to search the OUTCAR for the POTCAR lines and pull the elements f

[2019-03-12 20:08] mkhorton commented on #1411
This is not a bad idea, would be interested in implementing the change?

[2019-03-12 21:07] ldwillia commented on #1411
Not at this time. I expect to be very busy for the next while. Someone else
could almost certainly have it implemented before I would get around to it.

On Tue, Mar 12, 2019, 4:09 PM Matthew Horton <notifications@github.com>
wrote:

[2019-03-12 21:30] dwinston opened #1413 "Clarity on backwards compatibility given date-based versioning"
#213 clarified that backwards-incompatible changes used to be signaled with the bumping of the so-called minor version, e.g. someone upgrading pymatgen 3.3.x to 3.4.y should expect the possibility of breaking changes and should consult the [change log](http://pymatgen.org/change_log.html). However, since `v2017.6.8`, pymatgen has switched to date-based versioning. This is a problem because it make

[2019-03-12 21:37] mkhorton commented on #1413
In terms of backwards incompatibility, the most important thing is that v2019.x onwards is Python 3 only, which was announced both in the docs and in the mailing list.

Generally, I think pymatgen has been fairly good about backwards compatibility and deprecations. Have you noticed specific breaking changes that have caused problems, or have any been reported to you? Might be useful for discussion

[2019-03-12 21:42] dwinston commented on #1413
Here's one strange example from the MP discussion forum: [https://discuss.materialsproject.org/t/get-entries-returns-empty-list-for-irru3/1976/3](https://discuss.materialsproject.org/t/get-entries-returns-empty-list-for-irru3/1976/3). I did not care to investigate what changed because the user's error was using the Nov 6, 2015 release of pymatgen.

The issue is that I *expected* breaking changes f

[2019-03-12 21:55] shyuep commented on #1413
I would say that most changes are backwards compatible. It is fine if it is something that is understood to be a work in progress, e.g if you are coding a new analysis and is releasing a new version. We expect anyone using these bleeding edge features to adjust. But for the core, all changes are expected to be backwards compatible with a relatively long deprecation schedule (usually a year). That

[2019-03-13 07:51] #1409 closed

[2019-03-13 07:54] shyuep commented on #1410
You do not have enough surface energies to generate a closed Wulff shape. Specifically, none of your surfaces contain the (001) direction.

[2019-03-13 07:54] #1410 closed

[2019-03-13 19:04] #1407 closed

[2019-03-13 19:04] shyuep commented on #1407
Thanks. A fix has been pushed to master.

[2019-03-14 17:07] sphuber commented on #1407
@shyuep thanks a lot, but I am afraid this only solves part of the problem. The [fix pushed to master](https://github.com/materialsproject/pymatgen/commit/c34a6c0b69a6654bc6b8e9164341d5b8d6769e18) addresses the initial problem that I described but the solution will lead to problems when calling `parser.get_structures`. This can be demonstrated with the following slightly adapted input file
[code]

[2019-03-14 17:12] sphuber opened #1415 "Bug in `CifParser` for files with multiline blocks starting with `data_` prefix"
**Describe the bug**
A bug in the `CifParser.from_string` method was reported in #1407 which was addressed in [this commit](https://github.com/materialsproject/pymatgen/commit/c34a6c0b69a6654bc6b8e9164341d5b8d6769e18). However, the solution does not actually solve the problem because now the `get_structures` method will fail to parse a valid structure.

**To Reproduce**
[code]

**Expected behavior

[2019-03-14 18:59] shyuep commented on #1415
I can certainly fix this problem, but as far as I know, this is bad CIF syntax. The ; is used as an indicator of a multiline string. Here, you have ; with `_iucr_refine_fcf_details`, which is not closed until after the data_symmetries loop.

[2019-03-15 09:23] sphuber commented on #1415
@shyuep you are absolutely right, my mistake. I updated the example to a CIF syntax that should now be correct. Basically the problem lies in the fact that the multiline string contains a line that starts with `data_`. The parsing strategy of `CifParser` will split all blocks on that marker, however, in this case it is not the start of an actual data block but just an ordinary string, which is leg

[2019-03-15 09:45] Jshcht opened #1416 "bug in work function plot"
**Describe the bug**
if the slab contain any atom with very big frac_z (e.g. z = 0.99 which is supposed to be -0.01 due to the perodicity), the ave_bulk_p will be wrongly calculated because the the frac_z is not a right limitation of the bulk region.

**Expected behavior**
I think during the initiation, any site with such frac_z need to be converted to (frac_z -1) to avoid such thing.

**Screensho

[2019-03-15 10:49] fraricci commented on #1397
Any news on this? do you want me to propose a fix?

[2019-03-15 14:35] shyuep commented on #1416
@richardtran415 Pls check and follow-up

[2019-03-15 14:39] Jshcht commented on #1416
What's more, the model I used is a surface slab model.

[2019-03-15 15:06] mkhorton commented on #1397
Sorry @fraricci, this had completely slipped my mind. If you have a fix then yes that would be great, otherwise I will take another look later.

[2019-03-15 15:32] shyuep commented on #1415
This is still incorrect. The data_symmetries have to be provided. Otherwise, the code cannot generate all the symmetrically equivalent positions.

In any case, I am closing this issue until an example can be provided from an actual public source that demonstrates the problem, rather than a hand-written CIF file. I prefer the CIF parsing code to be tested on real world data out there.

[2019-03-15 15:32] #1415 closed

[2019-03-15 15:38] sphuber commented on #1415
I tried to write a representative minimal working example because the real examples I have are pretty big. But [this is a real example from the COD](http://www.crystallography.net/cod/7045976.cif) The COD has multiple CIFs like this that have the same problem and as far as I am aware, these have valid CIF syntax

[2019-03-15 15:42] shyuep commented on #1415
I downloaded the CIF. I opened it in VESTA, and I see nothing.

[2019-03-15 15:47] mkhorton commented on #1415
Is data_symmetries in an official CIF dictionary? I understand there are a
few extensions to that also (I think there’s a symmetry CIF dictionary too)

On Fri, Mar 15, 2019 at 08:42, Shyue Ping Ong <notifications@github.com>
wrote:

[2019-03-15 15:53] sphuber commented on #1415
For what it is worth, parsing it with `ase==3.12.0` manages to parse the cell:
[code]

[2019-03-15 21:59] richardtran415 commented on #1416
Looking into it

[2019-03-17 06:18] mkhorton commented on #1397
@fraricci if you add:

[code]

below the lines

[code]

in `MPSOCSet.from_prev_calc()` does this fix the issue?

[2019-03-17 10:58] fraricci commented on #1397
@mkhorton yes it works!
Now, it writes the magmom from the previous outcar.
I also checked that it works properly in case magmom
is passed by the user externally.
Is it better to use: incar.pop('MAGMOM',None) ?
If I understand correctly, the incar() in MPRelax was getting the right
magmom from the structure, but incar['magmom'] was then overwritten by
the previous incar in MPSOCSet.from_prev_calc(

[2019-03-17 12:03] jinlhr542 opened #1418 "I cant use the rotation function in the structure lib"
![WeChat Image_20190317210246](https://user-images.githubusercontent.com/48645456/54490310-0ab16d00-48f8-11e9-9252-0fd6aeddaecc.png)

Is there something wrong with my codes?

[2019-03-17 14:52] shyuep commented on #1418
`rotate_sites` is a function that is part of the Structure class, not the structure module.
In your code, use `structure1.rotate_sites`. The indices should be numbers.
Pls post such question at https://pymatgen.discourse.group in future. Github Issues is meant for bug reports and feature requests.

[2019-03-17 14:52] #1418 closed

[2019-03-17 16:05] mkhorton commented on #1397
Glad it works! Yes, I can push this. Our current test data is insufficient to catch it however, so I'm just going to find a test case first.

[2019-03-17 16:12] mkhorton commented on #1397
As for `pop` vs `if...del`, I think that's a matter of taste -- it really makes no difference practically speaking, `pop` has the advantage that it's only one line, but it also returns a value we never use, whereas `if...del` is more explicit about what our intention is but takes the extra line.

And you're correct: both the magmoms were getting added to the structure, *and* the previous INCAR set

[2019-03-17 17:18] mkhorton commented on #1397
Ok, I've pushed this fix since it sounds like something that would be useful to have fixed now, however I'm going to leave this issue open since I have concerns about some related logic in MPStaticSet also (which MPSOCSet inherits from) so I want to investigate further.

[2019-03-20 08:31] fraricci commented on #1397
Thanks, let me know if you need some help for further test/checks.

[2019-03-22 11:40] fraricci opened #1424 "Harmful standardize=True in MPNonSCF/MPStatic.from_prev_calc()"
MPNonSCF/MPStatic.from_prev_calc(standardize=True) leads to have a CHGCAR from previous calculation and POSCAR with a NEW structure that does not match anymore with
the charge. This brings for example to a band structure completely wrong.

I think that the standardization of a structure should not be allowed in this function.

I got this problem with Ca2Si, but I guess the problem is not related t

[2019-03-22 14:49] shyuep commented on #1424
There are reasons why standardization is sometimes necessary.
What I would suggest instead is that if standardize is True, the CHGCAR copy is not allowed and a warning is raised.

[2019-03-22 14:58] fraricci commented on #1424
Yes, I think a warning is mandatory there.
I am curious to know at least one case where is necessary to standardize at that point.
I usually standardize at the very beginning...

I would change also this notebook:
http://matgenb.materialsvirtuallab.org/2017/04/14/Inputs-and-Analysis-of-VASP-runs.html

in cell 5, a standardize=True appears to get a the input for bands calculation.

[2019-03-22 17:14] bencomer opened #1425 "Pymatgen Slabs Not Json Serializable from .as_dict()"
Currently pymatgen Structure objects are Json serializable from the `.as_dict()` but Slab objects are not Json serializable because the `scale_factor` variable is a numpy array.

This can be easily fixed by modifying the `as_dict` function to return it as a list like this:

        d["scale_factor"] = self.scale_factor.tolist()

and the `from_dict` function to convert it back into a numpy array li

[2019-03-22 17:15] shyuep commented on #1425
Generally, serialization is done using the MontyEncoder. If you use that, the numpy array is automatically converted to a serializable form.

[2019-03-22 17:15] #1425 closed

[2019-03-23 22:09] mkhorton commented on #1424
I would actually agree that standardize should be False by default for `from_prev_calc()`, though extra warnings sound sensible.

[2019-03-27 16:28] bencomer commented on #1425
hmmm, I thought the point of those functions was to just work in serialization. from the [usage](http://pymatgen.org/usage.html) page:

The output from an `as_dict` method is always json/yaml serializable. So if you want to save a structure, you may do the following:

[code]

[2019-03-27 16:36] shyuep commented on #1425
If you look further down the usage page, there is a portion which says:

[code]

We can certainly make the dict completely json serializable. Given that the dict has more uses than simply being dumped into json, it is preferable to use the MontyEncoder to do the serialziation.

[2019-03-28 13:11] ajjackson opened #1430 "Wigner Seitz cells appear too large in difficult cases"
**Describe the bug**
The implementation of the Wigner-Seitz cell builder only considers lattice points up to one unit cell away
[code]
but this does not cover all possible crystal structures, and may lead to the construction of a cell that is too large.

**To Reproduce**
Calculating the distance from the origin to each surface of the WS cell
[code]
which returns:

**Expected behavior**
![lattice_d

[2019-04-01 08:19] JVergnet opened #1431 "io.phonopy.get_displaced_structures() calls for non-existent method"
**Describe the bug**
In the method _pymatgen.io.phonopy.get_displaced_structures()_,
the call to _phonon.get_displacement_directions()_ raises an error.

**To Reproduce**
Steps to reproduce the behavior:
**1**. import pymatgen.io.phonopy as pmg_phonopy
from pymatgen.core import Structure
**2** . s=Structure.from_file(your_structure_directory+"/POSCAR")
**3**. s_list = pmg_phonopy.get_displaced_str

[2019-04-01 13:42] ConradJohnston opened #1432 "pymatgen.io.aiida broken with aiida_core >= 1.0"
The [pymatgen.io.aiida](http://pymatgen.org/_modules/pymatgen/io/aiida.html) module is broken in AiiDA core v1.0 and onwards.

This is due to the refactoring of AiiDA which breaks the import line:
https://github.com/materialsproject/pymatgen/blob/5f652417aa3a03214e8dfe726fc9747ed71f13e2/pymatgen/io/aiida.py#L21
The code falls through into the except block, setting the `aiida_loaded` flag to false

[2019-04-01 13:58] shyuep commented on #1424
I am looking at pmg's sets and it seems that it is indeed standardize=False for from_prev_calc. Is there something we need to do here or can we close this issue.

[2019-04-01 14:05] shyuep commented on #1432
I would say this depends entirely on the aiida developers. I would be fine with just deprecating this function and raising an error and pointing to the aiida package. Because there are no unittests written for pymatgen.io.aiida, we have no way of testing the functionality at all.

I will just completely deprecate this module. I will push a change shortly.

[2019-04-01 14:08] #1432 closed

[2019-04-01 14:14] fraricci commented on #1424
As said, a warning if standardize=True is set would be very useful and, I would not copy the CHGCAR in that case.
I'm still curious to know at least one case where is necessary to standardize at that point.

I would change also this notebook:
http://matgenb.materialsvirtuallab.org/2017/04/14/Inputs-and-Analysis-of-VASP-runs.html
Shall I open an issue in matgenb?

[2019-04-01 14:27] #1424 closed

[2019-04-01 14:27] shyuep commented on #1424
Added the warning and enforced copy_chgcar to be False. Pls modify the notebook in matgenb and submit a PR.

[2019-04-01 14:28] shyuep commented on #1431
@mkhorton Can you look into this one

[2019-04-01 15:51] mkhorton commented on #1431
I’ll take a look. Phonopy changed a lot of their API recently, broke some workflows in atomate too.

[2019-04-02 07:47] ConradJohnston commented on #1432
I think this is fine, but I defer to @sphuber .

[2019-04-05 01:54] mkhorton commented on #1431
Yeah, we're pinned to a pre-v2 version of phonopy, I'll update + see what else is broken. Looks like there also isn't a unit test with `yaml_fname` set in `get_displaced_structures` so I'll add one.

[2019-04-07 10:31] LuciusV opened #1436 "GulpCaller crashes because cell input string too long"
**Describe the bug**
Gulp cannot parse cell if it is too long

**To Reproduce**
Steps to reproduce the behavior:
`from pymatgen.command_line.gulp_caller import GulpCaller, BuckinghamPotential, GulpIO

from pymatgen import Structure
struct = Structure.from_str("""Mg2 Al4 O8
1.0
5.003532 0.000000 2.888790
1.667844 4.717375 2.888790
0.000000 0.000000 5.777581
O Mg Al
8 2 4
direct
0.736371 0.736371 0.

[2019-04-07 10:38] LuciusV commented on #1436
This workaround makes code above run without problem
`def prepare_input(bad_input):
    input = ''
    for n, line in enumerate(bad_input.split('\n')):
        if n == 2:
            input += '{:.6f} {:.6f} {:.6f} {:.6f} {:.6f} {:.6f}'.format(*map(float, line.split())) + '\n'
        else:
            input += line + '\n'
    return input`

[2019-04-07 10:56] LuciusV opened #1437 "GulpIO.get_energy cannot get enthalpy (under pressure)"
**Describe the bug**
If pressure is not zero, gulp prints "Total lattice enthalpy" instead of "Total lattice energy"
and output cannot be parsed by GulpIO().get_energy()

**To Reproduce**
Steps to reproduce the behavior:
Try to read any gulp calculation with pressure

**Expected behavior**
A clear and concise description of what you expected to happen.
get_energy() returns enthalpy or energy

[2019-04-07 11:00] LuciusV commented on #1437
[code]
fix can be like this

[2019-04-09 06:45] JVergnet opened #1438 "New constructor _BaderAnalysis.from_ACF()_"
**Is your feature request related to a problem? Please describe.**
In the module _pymatgen.command_line.bader_caller_
I would like to build an instance of _BaderAnalysis_ from an already calculated Bader data so as to avoid repeating the summation each time I study the run without the need to dump a json.
Consequently, I would also need an option in the method _bader_analysis_from_path_ to store t

[2019-04-09 15:14] JVergnet commented on #1438
Ok :-)

[2019-04-12 04:34] mkhorton commented on #1431
Fixed.

[2019-04-12 04:34] #1431 closed

[2019-04-12 04:37] mkhorton commented on #1430
Do you have a suggested fix, would considering lattice points up to 2 unit cells away fix the edge cases?

[2019-04-12 09:03] ajjackson commented on #1430
I don't think it would cover _every_ case. In this example, the highlighted atom pair is three unit cells apart.

![stupid-cell](https://user-images.githubusercontent.com/2511383/56023684-56441480-5d06-11e9-8b2e-cd887f8fcf93.png)

A naive stab at an algorithm would be something like
- get distances from origin to immediate periodic images, note the furthest distance (i.e. unit cell "outer radius")

[2019-04-12 14:45] mkhorton commented on #1430
Thanks @ajjacksom, illustration is helpful!

Yes, you could definitely try the reduced cell (Structure.get_reduced_structure). Still, it would be nice to get this fixed.

[2019-04-12 21:30] utf commented on #1430
Hi Adam!

If I'm following this properly, it seems like this function in pymatgen covers a little bit of what you want:

https://github.com/materialsproject/pymatgen/blob/6a7a2c3442e0413affda32c3704895e9a5133b72/pymatgen/core/structure.py#L1020-L1048

[2019-04-12 23:10] mkhorton commented on #1430
Yes, I’m wondering if just getting sites in a sphere of radius (max lattice vector length) during Wigner Seitz construction would fix it?

[2019-04-12 23:11] mkhorton commented on #1430
Or not even sites, lattice points I should say.

[2019-04-13 14:32] ajjackson commented on #1430
Funnily enough the reason I was looking at the W-S construction was to get a radius for use with `get_sites_in_sphere`. That does seem like an approach that should work (or maybe with a radius equal to the maximum corner-to-corner distance in the unit cell?) but I'm not entirely confident with this kind of spatial reasoning.

The reduced structure approach could be more efficient. It does require

[2019-04-14 06:49] computron opened #1441 "dielectric function parsing in OUTCAR lists "frequencies" but it should be energies"
**Describe the bug**
The OUTCAR parsing in pymatgen can parse the dielectric function. The first column is the energies (in eV). Pymatgen lists this column as "frequencies". It should be called "energies".

This is what an OUTCAR looks like for dielectric function - note the first column is E in eV

[code]

**Additional context**
See lines:
pymatgen/io/vasp/outputs.py:1843
[code]

and:
pymatgen/io

[2019-04-14 14:35] #1441 closed

[2019-04-18 15:08] amyncarol opened #1442 "waveder AttributeError: can't set attribute"
Unable to use the Waveder class in pymatgen.io.vasp.outputs

Error message below:

[code]

I think this because nkpoints is a property and cannot be set.
Change nkpoints to _nkpoints and change the nkpoints method accordingly will probably fix the problem.

[2019-04-18 17:00] utf commented on #1442
This is also the case for the `nbands` and `nelect` properties.

[2019-04-18 18:57] amyncarol commented on #1442
I am also a little confused about cder_data. Should it be a complex vector with x,y,z components for each spin? Then it should have 6 float numbers for each (band1, band2, kpoint, spin)? But from the code, we only get 3 float numbers. It should be similar to the data in wavederf, right?

[2019-04-18 19:50] utf commented on #1442
I was also having this issue, I believe the datatype for the cder should be "complex64". E.g. the data is composed of two 32 bit numbers (real and imaginary component). However, looking at the VASP code, it seems like the exact format of the data will depend on whether the wave function is complex or not. I don't know when the wave function is not complex the code seems like this could happen.

Un

[2019-04-18 19:56] mkhorton commented on #1442
Yes, the wave function is not complex if it’s gamma point only.

[2019-04-18 20:00] amyncarol commented on #1442
Any idea what's the unit of numbers in cder_data?

[2019-04-18 20:05] amyncarol commented on #1442
Seems to be standard unit J/m, right?

[2019-04-23 17:22] mkhorton commented on #1288
A brief update on this: we're continuing to prototype Plotly versions of pymatgen plots in the new crystal toolkit (in collab with @mattmcdermott), once these are stable + look nice the intent is to merge them back into pymatgen via a new standardized plot API (`Plottable`).

To re-iterate, advantage of Plotly is: (1) it has a canonical JSON representation, so it's easy for us to store, and means

[2019-04-23 17:48] utf opened #1446 "Add prototypes from part 2 of the AFLOW prototype library"
AFLOW released ~300 more prototypes as part 2 of their library of crystallographic prototypes. These should be added to the `AflowPrototypeMatcher`.

https://www.sciencedirect.com/science/article/pii/S0927025618307146

Assigning this to myself.

[2019-04-24 16:20] tlsong opened #1448 "”UserWarning:The input structure does not match the expected standard primitive!“"
Hello, dear developers

When I do the band calculation，it always gives this：
“UserWarning:
The input structure does not match the expected standard primitive! The path can be incorrect. Use at your own risk.”

So，I check it carefully，use these code：
**1. first step:**
`
from pymatgen import Structure
from pymatgen.symmetry.analyzer import SpacegroupAnalyzer
import numpy as np

structure = Structur

[2019-04-26 20:19] afonari opened #1450 "Is it possible to apply biaxial deformation?"
Is it possible to apply biaxial deformation besides shear and non-shear modes defined in the DeformedStructureSet:
[code]

[2019-05-01 13:05] #1436 closed

[2019-05-01 13:05] shyuep commented on #1450
@mkhorton I think so?

[2019-05-01 13:06] shyuep commented on #1450
For future reference, pls post queries on https://pymatgen.discourse.group and use Github Issues for only bug reports.

[2019-05-01 18:20] utf opened #1453 "MPNonSCFSet k-point generation incompatible with tetrahedron smearing"
Currently, `MPNonSCFSet` with `mode=uniform` creates an explicit list of k-points using `SpacegroupAnalyzer.get_ir_reciprocal_mesh`. As this list of k-points does not include tetrahedron information, the generated k-points file is incompatible with setting `ISMEAR = -5`. A recent update to the MPNonSCFSet set the default smearing parameter to `ISMEAR = -5`, so **all uniform NSCF jobs in atomate ar

[2019-05-01 18:49] hautierg commented on #1453
This was a while ago but I remember that the reason we went for explicit generation of k-points is symmetry. VASP uses a certain way of setting symmetries that is sometimes incompatible with other assignment for instance in spglib and from what I remember not super clear from the source code. That means spglib will tell you a certain k-point mesh in the irreducible brillouin zone and VASP another

[2019-05-01 18:52] fraricci commented on #1453
I think one of the reason was to avoid problems in using boltztrap1.
Using a list of kpoints generated by spglib in KPOINTS will be compatible
with the list of symmetry operations (again from with spglib ) provided as input of boltztrap1.

If we let VASP decide the kpoints, then spglib could give different sym ops and you get a
famous "error in factorization".

I am not sure this is still necessar

[2019-05-01 19:25] fraricci commented on #1453
IMHO, changing the ISMEAR default was not the best move.
If the intention was to have input file for DOS calculation,
it could be much better to add a new 'dos' mode to MPNonSCFSet and
keep 'uniform' and 'line' doing what they have done since ever.
Consider also that custom incar parameter can be passed both in pmg and atomate.

[2019-05-01 19:28] mkhorton commented on #1453
I imagine this depends whether NonSCFSet is used more for DOS or for BoltzTraP? I imagine most people using it in uniform mode want to calculate a DOS.

[2019-05-01 19:48] fraricci commented on #1453
you said it, 'imagine'. Since we do not know, I would go safe adding a new feature than break a old.
That's IMHO ;-)

[2019-05-01 20:36] utf commented on #1453
Thanks for the information @hautierg and @fraricci. I can see why those settings were chosen.

Going forward I think the default behavior of `MPNonSCFSet` should be compatible with as many VASP smearing parameters as possible. It is perfectly reasonable that a user would want to use `ISMEAR = -5` for an NSCF calculation, whether it is a uniform or optics calculation (tetrahedron smearing is recomm

[2019-05-01 20:50] fraricci commented on #1453
yes, I agree. The current 'uniform' mode could become 'boltztrap'. And new mode 'dos' and/or 'optics' could be added.

[2019-05-01 22:30] tlsong commented on #1448
I really want to know the answer. If my description is not clear, please let me know. Thank you very much

[2019-05-01 22:31] shyuep commented on #1448
@hautierg Can you help with this?

[2019-05-04 04:09] mkhorton commented on #1453
@fraricci your suggestion has been implemented by @utf and merged, thanks for the discussion!

[2019-05-06 19:37] mkhorton commented on #1450
Hi @afonari, it's possible to apply any arbitrary deformation. You can initialize directly from a `Strain` object:

[code]

[2019-05-06 19:46] afonari commented on #1450
Thanks for the reply @mkhorton. What I meant, is it possible to incorporate biaxial strain into the computations of the elastic modulus. Do you maybe have a any examples of biaxial strains?

Thanks.

[2019-05-06 19:51] mkhorton commented on #1450
Ah, yes, I believe so. You can fit an elastic tensor with any system of independent strains, including biaxial strains:

[code]

Does that answer your query? If not maybe @montoyjh would like to comment

[2019-05-06 19:54] afonari commented on #1450
Some example would definitely help with this, thanks.

[2019-05-07 18:53] kmu opened #1460 "Use 0 based index for CifWriter"
I'm wondering why `CifWriter` employs 1 based index, while `Structure` itself uses 0 based index.

https://github.com/materialsproject/pymatgen/blob/19f56d4d918c3b7fdc445aaca7d56d0d9bc3ddb6/pymatgen/io/cif.py#L1283-L1292

I'm always frustrated when I export a structure to a CIF file, open by VESTA, and try to inspect a specific site.
I would like to fix this if there is no compatibility problem or

[2019-05-07 18:58] mkhorton commented on #1460
If this isn't mandated by the core CIF spec, I'd be on board with changing it.

[2019-05-07 19:47] kmu commented on #1460
I tested 0 based CIF file and 1 based CIF file by [checkCIF](http://journals.iucr.org/services/cif/checkcif.html) and got essentially identical results.
Both files can be opened by CrystalMaker and VESTA without problem.

Any integer seems to be allowed for `_atom_site_label ` according to the example shown in [the specification of CIF](http://scripts.iucr.org/cgi-bin/paper?pii=S010876739101067X).

[2019-05-07 20:01] mkhorton commented on #1460
OK, I trust checkCIF on this, in that case you would be very welcome to make this change, thank you!

[2019-05-07 21:44] #1460 closed

[2019-05-08 09:19] pincher-chen opened #1462 "How to create input files for abinit by using pymatgen?"
Dear developers,

I found pymatgen supports the  input/output  operations for abinit, and tried to use pymatgen to generate the input files. However, little  documents or descriptions for abinit can be found in http://pymatgen.org/. I found it easy to create POSCAR from cif file for vasp:
[code]
So, does pymatgen have the similar method to create input file for abinit?

Regards.

[2019-05-09 00:30] mt-huebsch opened #1463 "Inconsistency btw SpacegroupAnalyzer & SpaceGroup"
Hello everyone,
I am a first-timer. Thank you for taking the time.
Best, Marie-Therese

**Describe the bug**
The symmetry operations returned by pymatgen.symmetry.analyzer SpacegroupAnalyzer.get_symmetry_operations() and pymatgen.symmetry.groups SpaceGroup.symmetry_ops do not agree.

**To Reproduce**

See here [bug_report.zip](https://github.com/materialsproject/pymatgen/files/3159722/bug_report.z

[2019-05-09 02:09] tlsong commented on #1448
@shyuep @shyamd
Thank you very much!

[2019-05-09 02:11] mkhorton commented on #1463
Welcome @mt-huebsch !

Regarding your bug, I'm not sure I can re-produce. If you look at the 0.1.mcif file, in the file itself we see the symmetry operations:

[code]

Or you can check [here](http://img.chem.ucl.ac.uk/sgp/large/062az1.htm) or Bilbao's GENPOS tool for Pnma.

This seems to be consistent with the output of the space group class.

If you list `a.get_symmetry_dataset()` (returning the

[2019-05-09 02:13] tlsong commented on #1448
@shyuep @shyamd

Export the strucutre in POSCAR format, will give true.
**1.**
`
from pymatgen import Structure
from pymatgen.symmetry.analyzer import SpacegroupAnalyzer
import numpy as np

structure = Structure.from_file('Si_mp-149_computed.cif')
spg_analy =SpacegroupAnalyzer(structure)
primitive_standard_structure=spg_analy.get_primitive_standard_structure(international_monoclinic=False)
primiti

[2019-05-09 02:14] shyamd commented on #1448
Sounds good. I'm closing this now.

[2019-05-09 02:14] #1448 closed

[2019-05-09 04:26] mt-huebsch commented on #1463
Thank you for the quick and easy explanation @mkhorton!

It's a bit misleading that ```SpacegroupAnalyzer``` returns Pnma (No. 62) as an info while returning the reduced symmetry operations. I would expect the info also to correspond to the reduced (exchange group) symmetry then...

Anyways, I am glad there is a way to work around it easily by using ```SpaceGroup``` (and in general to be able to u

[2019-05-09 04:42] mkhorton commented on #1463
Yes, I agree. I think it would make more sense to remove the magnetic moment information entirely from the normal symmetry classes to reduce confusion.

The reason for the separation of the pymatgen classes is mostly historical: the `maggroups` module was only added relatively recently, and uses the dataset kindly provided by Stokes and Campbell, but the format of this data is slightly different t

[2019-05-09 04:54] mt-huebsch commented on #1463
Thanks for the advise. I am sure it will come in handy.

One more thing, do **I** close the issue (or who)?

[2019-05-09 05:00] mkhorton commented on #1463
No problem. In general, you can close an issue if it's resolved, but let's leave it open for now until we make the change that was suggested to make the output of SpacegroupAnalyzer less misleading.

[2019-05-09 17:40] computron opened #1464 "Changing the signature of vaspinputset.from_prev()"
Currently, the from_prev() method in the VaspInputSets is a wild west of parameters - i.e., there is no consistency in the signature of from_prev() between different VaspInputSets.

This ends up causing a lot of downstream complexity in atomate. Although the atomate FireTasks can take in a VaspInputSet object to help users control input settings, they usually also mirror the from_prev() parameters

[2019-05-09 20:43] shyuep commented on #1464
My view is that there are both use cases. The problem with the suggested Option 2 is that the logic flow is strange. Initialization VaspInputSet requires a Structure, which presumably is being read from a previous calculation in these cases. I would also prefer not to wreak havoc on a lot of people's scripts (including a large fraction of my group).

I would suggest a Third option that will achiev

[2019-05-09 20:50] #1453 closed

[2019-05-09 20:58] computron commented on #1464
Two comments:

* The more direct comment is that I don't see how adding override_from_prev_calc helps. Yes, atomate can use this, but then the user has no way to adjust the settings. For example, MPStaticSet.from_prev_calc() currently has a "small_gap_multiply" setting that multiplies k-point meshes for small gap systems. An atomate user might want to adjust this parameter in the workflow. If we j

[2019-05-09 21:06] shyuep commented on #1464
i. Yes, I mean we move those things to the constructor. I am asking that you do not break from_prev_calc.
ii. We already had extensive debates about whether structure should be part of VIS. It is true that it will require VIS to be constructed for every structure. But the other side of the story is that often structure modification is part of the input file generation. E.g., standardizing a struct

[2019-05-10 14:10] shyuep commented on #1462
Please post questions on https://pymatgen.discourse.group . @gmatteo Can you answer this pls? It would be helpful if you write a simple example notebook at https://matgenb.materialsvirtuallab.org for ABINIT io.

[2019-05-10 14:10] #1462 closed

[2019-05-10 16:43] computron commented on #1464
For (i) - I see, but then we will have duplicated parameters in the constructor and in from_prev() - is that OK with you?

[2019-05-10 16:55] shyuep commented on #1464
We will not have duplicated parameters. Just move the parameters to constructor, remove them from from_prev, and from_prev will simply pass through using *args and **kwargs. That is already the case for other common parameters such as user_incar_settings. We just need to lump these parameters into that.

[2019-05-11 00:14] utf commented on #1464
I am happy to implement what has been discussed in this thread, however, I think it is not as simple as simply moving the keyword arguments of `from_prev_calc` to `__init__`. This is mainly because `from_prev_calc` needs to have access to the defaults of the keyword arguments before they are passed to through to the constructor.

A solution to this is to define the defaults required by `from_prev_

[2019-05-12 03:40] shyuep commented on #1464
I am confused. If the defaults are the same, if you move them to the constructor, there should be no difference from the defaults being in from_prev? E.g., if the original default reciprocal density is 200, putting that number in the constructor now would still mean that from_prev_calc will use the 200 default.

[2019-05-12 03:54] utf commented on #1464
In the example I posted, `from_prev_calc` needs to know what the default is before the inputset is constructed, as it will adjust the default value based on the output of the previous calculation. An example from an existing inputset is:

[code]

E.g., If the user does not pass `reciprocal_density` or `small_gap_multiply` to `from_prev_calc`, we need to access the defaults defined in the construct

[2019-05-12 04:00] shyuep commented on #1464
@utf No. The idea is that from_prev_calc will now call the constructor AND the new override_from_prev_calc. Obviously, the second call comes after the constructor and therefore would have access to the constructor defaults. We should not be duplicating code in from_prev_calc and override_from_prev_calc.

[2019-05-12 04:06] utf commented on #1464
I understanding what you are suggesting now.

[2019-05-16 00:13] #1464 closed

[2019-05-23 13:46] #1450 closed

[2019-05-23 13:47] shyuep commented on #1442
So can someone fix this and submit a PR?

[2019-05-23 13:47] shyuep commented on #1437
Thanks. Can you pls inplement the fix in a fork and submit a PR?

[2019-05-23 13:48] #1416 closed

[2019-05-23 13:49] #1405 closed

[2019-05-23 13:50] #1292 closed

[2019-05-23 13:50] shyuep commented on #1273
Is this done?

[2019-05-23 17:06] mkhorton commented on #1273
Kind of, the way I want to do this would break backwards compatibility, `NearNeighbour().get_nn_info(struct, n)` would become `NearNeighbour(structure).get_nn_info(n)`. I'm going to do this because I think it's worthwhile, but I want to give people who use it a heads up that this will break some code (I think in matminer in particular).

[2019-05-23 17:08] shyuep commented on #1273
Implement it with deprecation for old methods. I would also suggest that method naming be as short as possible. E.g., NN.get_nn_info is redundant. Just get_info would do since NN is implied by the fact it is part of the NN class.

[2019-05-23 17:10] mkhorton commented on #1273
Sure, fine with the rename. Difficult to implement with deprecation warnings without also including a lot of redundant code, but maybe I'll just do that for now.

[2019-05-23 18:19] mkhorton commented on #1442
@knc6, you contributed the WAVEDER class, could you comment on this or would you be willing to submit a fix as appropriate?

[2019-05-30 15:45] Leo3Lee opened #1474 "WulffShape Construction Not displaying Plot and Matplotlib Deprecation Warning"
**Describe the bug**
Dear pymatgen communities,

I am running a Si Wulff Shape Construction based on the excellent tutorial from https://matgenb.materialsvirtuallab.org/2017/04/03/Slab-generation-and-Wulff-shape.html

However, when running the code, no Wulff shape plot was displayed at the end, and a warning message related to Matplotlib deprecation also appeared.

**To Reproduce**

I used the exa

[2019-05-30 16:42] shyuep commented on #1474
For future reference, pls post such questions at http://pymatgen.discourse.group .
You can ignore the deprecation message.

The issue is related to the fact that you are running in a Jupyter notebook. The figure is indeed generated, as can be seen from the `<Figure size ...>` in your output. For matplotlib to display the figure inline, you need to put `%matplotlib inline` first. Alternatively, run

[2019-05-30 16:42] #1474 closed

[2019-05-31 04:23] utf opened #1477 "Composition accepts non valid formulas"
Composition objects allow initializing with an input that is clearly not a valid formula.

For example:

[code]

None of which raise an exception.

Is this behavior expected?

[2019-05-31 04:50] shyuep commented on #1477
This might be surprising, but yes, these are valid. Basically, pymatgen treats any non-element symbol starting with an upper-case as a DummySpecie, unless it violates the rule that the upper case letter itself is an element. For example, Composition("Stuff") would not work because S is an element.

You can see this clearly when you look deeper at what your example gives. E.g.,

[code]

Of course,

[2019-05-31 06:30] utf commented on #1477
I figured out that’s what was going on but I wasn’t sure if it was expected behaviour.

I was originally trying to cast to a composition check if a string was a valid formula.

The current behaviour of composition seems fine, but it might be nice to have an ”is_valid_formula” function if that doesn’t already exist in pymatgen.

[2019-05-31 14:05] #1477 closed

[2019-05-31 16:15] utf commented on #1477
Thanks Matt!

[2019-06-05 14:27] shyuep opened #1486 "MagOrderingTransformation Bug with New Enumlib"
**Describe the bug**
MagOrderingTransformation seems to work with old enumlib, but fails with new enumlib. CircleCI tests are passing because those are based on the old enumlib.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile enumlib from https://github.com/msg-byu/enumlib.git
2. Make the new enumlib default in the path.
3. Run test_advanced_transformations.
4. MagOrderingTransformat

[2019-06-05 14:29] shyuep commented on #1486
@mkhorton I suspect this has to do with the fact that MagOrdering now creates Dummy sites that collide with existing sites. But I can't be sure. In any case, I am unclear why the collision needs to occur. Shouldn't the transformation just replace existing sites with dummy sites rather than adding?

[2019-06-05 15:21] mkhorton commented on #1486
It’s because unlike enumeration of disordered structures where you enumerate species, the enumeration has to be of the spin itself (these lattices of dummy atoms containing spin). These are enumerated and then merged with the actual species after enumeration has occurred.

I can try and explain better if necessary, but basically this was necessary to get a lot of ferrimagnetic cases correct, where

[2019-06-05 15:28] mkhorton commented on #1486
In any case, I'm also getting this. I think it's some change with how max_cell_size is handled, will investigate.

[2019-06-05 15:33] shyuep commented on #1486
@mkhorton I understand how it works broadly. What I meant is that colliding sites is not an ideal way (though the current get_all_neighbors has been fixed to deal with this). What I would suggest is that you initially do a mapping:

1. Fe2+ -> Mma: Spin.up: 0.5 and Mmb: Spin.down: 0.5
2. Replace all Fe2+ with the above (not create duplicate sites).
3. Do enumeration.
4. Reverse the mapping Mma ->

[2019-06-05 15:44] mkhorton commented on #1486
Ah yes, that sounds much more sensible.

[2019-06-05 19:27] mkhorton commented on #1486
In fact, it sounds so sensible I'm not sure why the other method was chosen...will have to re-visit.

In terms of the test failure, the enum.x output gives:

Original:  4.528   2.614   3.453
Remapped:  0.000  -0.000  -0.000

 This usually means that the d-set from the input structure and the d-set
 from the struct_enum.out have a different origin or don't live in the same
 unit cell. This probably

[2019-06-05 19:33] mkhorton commented on #1486
https://github.com/msg-byu/enumlib/issues/83

[2019-06-05 19:34] shyuep commented on #1486
Thanks,

[2019-06-06 22:23] chc273 opened #1487 "Inconsistent direct band gap of mp-782693 using `get_band_gap` and `get_direct_band_gap`"
**`Bandstructure.get_direct_band_gap` reports different value from `get_band_gap` for material with direct band gap**

I queried the band structure of `mp-782693` using `MPRester.get_bandstructure_by_material_id`. This material has a band gap (direct) of 0.685 eV as shown on the site and as computed by `get_band_gap` method. However, if I use `get_direct_band_gap` method on the BandStructure objec

[2019-06-07 03:35] shyamd commented on #1487
This is because the two functions use different methodologies. `get_band_gap` uses the CBM and VBM points, so it doesn't care about the spin. `get_direct_band_gap` is spin-aware and it turns out in this material the CBM and VBM are from different spins, so `get_direct_band_gap` finds "another" direct band_gap where the spin doesn't change for the transition. This logic is 7 years old from when @ha

[2019-06-07 15:51] chc273 commented on #1487
I see, thanks @shyamd

[2019-06-07 15:51] #1487 closed

[2019-06-07 16:20] mkhorton commented on #1486
FYI, Gus Hart replied -- bug known, fix promised within a few weeks, apparently significantly improved enumeration speeds also.

[2019-06-07 16:21] shyuep commented on #1486
Ok. I would suggest in the meantime that you also simplify the MagOrderingTransformation logic.

[2019-06-07 16:26] mkhorton commented on #1486
Yes, was going to take a look at that regardless

On Fri, Jun 7, 2019 at 09:21, Shyue Ping Ong <notifications@github.com>
wrote:

[2019-06-10 18:18] samueldy opened #1489 "Inconsistent number of layers in surface slabs"
**Is your feature request related to a problem? Please describe.**

I want to generate some (111) surfaces of simple FCC metals (e.g., Ag, Au, Cu, Pd, Pt, Rh, and so on), and I need them to have the same number of layers of atoms. My strategy so far has been this:

[code]

I am using the `in_unit_planes` option to request a certain number of atom layers. I'm also cutting bulk structures that are e

[2019-06-11 15:17] shyamd opened #1491 "Clean Up Interface Analysis"
The interface classes need some clean up.

- `Interface` needs to be moved to core
- `analysis` needs an interfaces sub_module with `ZSLGenerator`, `StradiGenerator` ,`SubstrateAnalyzer`,  and `InterfaceBuilder`
- Convert `GrainBoundary` to inherit from `Interface`

[2019-06-11 19:44] shyuep commented on #1489
@richardtran415 Can you look into this?

[2019-06-11 20:22] richardtran415 commented on #1489
Looking into it

On Tue, Jun 11, 2019 at 12:44 PM Shyue Ping Ong <notifications@github.com>
wrote:

--

Richard Tran
Phone: (415) 425-7660
Email: rit001@eng.ucsd.edu
<https://acs-webmail.ucsd.edu/squirrelmail/src/compose.php?send_to=rit001%40ucsd.edu>

[2019-06-13 00:06] stevetorr opened #1493 "FEFF IO mistakenly parses feff.inp files"
**Describe the bug**
.io.feff tests to see if a feff.inp file was created by Pymatgen by checking to see if the word 'pymatgen' shows up in the first line. It does this via the find method for a string, which returns the index of the string at which the desired substring first appears.

[code]
However, the find() method for a string returns the integer -1 if it is not in the string. This is truthy

[2019-06-13 04:19] #1493 closed

[2019-06-14 10:10] simonward86 opened #1496 "Incorrect results from MagneticSpaceGroup"
**Describe the bug**
Some magnetic structures are not being described properly by MagneticSpaceGroup. There has probably been a small error when originally parsing https://stokes.byu.edu/iso/magnetic_data.txt

**To Reproduce**
Steps to reproduce the behavior. E.g the R-3c' spacegroup:
[code]
**Expected behavior**
The operators and Wyckoff Positions are given as:
[code]
From the Bilbao Crystallogra

[2019-06-14 16:30] mkhorton commented on #1496
Thanks Simon! I’ll take a look at this.

On Fri, Jun 14, 2019 at 03:10, Simon Ward <notifications@github.com> wrote:

[2019-06-14 20:19] simonward86 commented on #1496
I've looked a bit and it might be the case that the matrices in http://stokes.byu.edu/iso/magnetic_data.txt were read in rows rather than columns. In the above case I think it works if read in this way.
I'll also do a few tests and if this is the case, I'll submit a pull request with a few transpose operations as this should sort it.

[2019-06-14 20:31] mkhorton commented on #1496
That would be excellent, thank you!

I just checked the human-readable tables on ISO-MAG, and this is the one for 167.107 so it looks like there is a difference:

[code]

[2019-06-14 20:36] simonward86 commented on #1496
Yep, I also cross referenced with VASP and you get the same.
Any thoughts or more rigorous testing? I ask as it seems that the test cases are all of the more 'basic' spacegroups and could be easily extended.

[2019-06-14 20:40] mkhorton commented on #1496
I'd definitely be happy for more rigorous testing, I mostly tested some of these manually when I added it.

[2019-06-18 20:05] #1442 closed

[2019-06-19 20:44] mkhorton commented on #1430
@dmrdjenovich has found a nice method for Wigner Seitz construction that is guaranteed to give the correct answer, and nicely side-steps the need to use the SciPy Voronoi too which has some stability issues in edge cases. I'll be working with him to integrate this method into pymatgen, stay tuned...

[2019-06-20 07:19] simonward86 commented on #1496
Created pull request #1502 which fixes the problem.
As for unit testing, I was thinking that pulling results from the Bilbao Crystallographic Server would work, though that would be comparing tuples instead of string literals. A good starting place is https://subversion.xray.aps.anl.gov/trac/pyGSAS/browser/trunk/kSUBGROUPSMAG.py

[2019-06-20 15:50] shyamd opened #1503 "Pymatgen function to get XAS"
There needs to be a pymatgen function to get XAS spectra from MP:

The format to get data by MP ID seems to be:
`f"/materials/{mpid}/xas/{absorbing_element}"`

[2019-06-20 18:05] #1496 closed

[2019-06-20 18:07] shyuep commented on #1503
@yimingchen95 Pls handle.

[2019-06-22 00:26] chc273 opened #1506 "local_env.NearNeighbors and its subclasses are not serializable/deserializable"
I wonder why `NearNeighbors` and its subclasses do not inherit from `monty.json.MSONable` so that the instances can be serialized/deserialized as other pymatgen objects?

I personally find a need for this in our `megnet` project, where we used the NearNeighbors as a way to find graphs and need to save the graph utility during model saving. Help is very much appreciated!

Thanks

[2019-06-22 00:30] mkhorton commented on #1506
Hi @chc273, thanks for suggesting this. I’m currently re-working this class since the current class has a few issues. I can make it MSONable, but I think I want to include structure in the init too, which will perhaps cause its own problems too. There’s an open pull request and issue you may want to take a look at.

[2019-06-22 00:36] chc273 commented on #1506
@mkhorton thanks for the pointer! I am not sure why structure should be in the init. If that is the case, then one `NearNeighbors` instance will only compute a specific structure. In my case, I would love to initialize the instance once and apply it to all structures I have.

[2019-06-22 00:51] mkhorton commented on #1506
Because some of these classes require pre-processing on the structure
itself that same processing then has to be repeated for every single site.
It means they scale badly for large structures.

I agree this makes things difficult in other ways. I also use the class in
the same way you do.

On Fri, Jun 21, 2019 at 17:36, Chi Chen <notifications@github.com> wrote:

[2019-06-22 00:55] mkhorton commented on #1506
The alternative might be to offer some kind of standard structure
preprocessing interface that could be cached, which is a bit more complex.

On Fri, Jun 21, 2019 at 17:50, Matthew Horton <mkhorton@lbl.gov> wrote:

[2019-06-22 01:38] #1489 closed

[2019-06-22 02:38] chc273 commented on #1506
@mkhorton thanks Matt! I will follow the updates on this. Now i guess I will need to find a way to work around.

[2019-06-22 02:56] shyuep commented on #1506
Keep this issue open.

On Sat, Jun 22, 2019 at 10:39 Chi Chen <notifications@github.com> wrote:

--
Shyue Ping

[2019-06-23 08:51] sphuber opened #1507 "Delay warning of missing requirements in `io.cif` as a late as possible"
**Is your feature request related to a problem? Please describe.**
Delay the printing of warnings as late as possible in `io.cif`.
Currently, just importing the module `io.cif` will print the warning if `pybtex` is not installed:
[code]
However, the only function requiring it is `get_bibtex_string`.

**Describe the solution you'd like**
Since these warnings are not easy to suppress and show up eve

[2019-06-23 09:15] #1507 closed

[2019-06-23 09:16] shyuep commented on #1507
Thanks. I fixed this. But instead of a warning, I simply make it throw an exception. The idea is that if someone is calling get_bibtex_string, they must actually be interested in a result and a runtime error should ensue if pybtex is not installed.

[2019-06-23 09:19] sphuber commented on #1507
Thanks for the very quick response and action @shyuep :+1:

[2019-06-25 10:47] espenfl opened #1511 "Obey and fix deprecation warnings"
**Is your feature request related to a problem? Please describe.**
Please consider to fix all relevant deprecation warnings. One example:

[code]

Particularly annoying when running `pytest` and we do not want to ignore warnings.

**Describe the solution you'd like**
Fix these, for instance with six, e.g.

[code]
etc.

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-06-25 11:30] shyuep commented on #1511
As far as I know, this was fixed some time ago. If you believe this not to be true, pls go ahead and implement a fix. As for using six, we already abandoned Py2 support from 2019.

[2019-06-25 11:30] #1511 closed

[2019-06-25 12:22] espenfl commented on #1511
Yes, in fact they should be present since `v2019.3.13`. Sorry for the noise.

[2019-06-25 12:25] smheidrich opened #1512 "BabelMolAdaptor should be able to return all molecules found in a file"
**Is your feature request related to a problem? Please describe.**
The way it's currently implemented, ``pymatgen.io.babel.BabelMolAdaptor`` will only ever return the first molecule it finds in a file and discard the rest:
https://github.com/materialsproject/pymatgen/blob/5006e2c92d669a05775fcf67dd9b1f0b972c9636/pymatgen/io/babel.py#L314-L315
It still *loads* all of them though and holds them all

[2019-06-25 16:01] mkhorton commented on #1512
Tagging @samblau here since he's been working a lot with the OpenBabel adapter.

[2019-06-26 06:48] JRSuckert opened #1513 "Vasprun does not discriminate both Kpoint sets when LVEL flag is set"
**Describe the bug**
When running VASP with the LVEL flag set, two kpoint sets are generated (probably IBZ and FBZ).
The Vasprun class will read both to the same variable overwriting the first that has been read.
Unfortunately, the set that is overwritten is the one associated to the eigenvalue array.
In the vasprun, the structure is somewhat like:
[code]

**To Reproduce**
Steps to reproduce the b

[2019-06-26 08:52] shyuep commented on #1513
Thanks for reporting this. I have no idea what the LVEL tag does. If this is an issue, I would suggest you perhaps fork the repo and implement a quick fix?

[2019-06-26 08:59] JRSuckert commented on #1513
The actual purpose of the LVEL flag is also unclear to me, as it is undocumented.

In my particular case, I want to use it as it will write the full set of matrix elements <u|d/dk|u> for (ikpt, nbands, nbands) into the WAVEDER file, which by default is only done for a subset.

I will attempt to fix it.

[2019-06-26 13:20] JRSuckert commented on #1513
I'm not particularly experienced in parsing xml files, so maybe someone else can give me a hint.
The vasprun is parsed using the iterparse method of the ElementTree so it's not possible to determine the according parent.

A quick fix would be to check if self.kpoints has already been set and then skip later tag matches.
[code]

Right now it should not break anything, since the kpoint set used for

[2019-06-27 15:24] #1503 closed

[2019-06-27 19:14] #1513 closed

[2019-06-28 19:59] mkhorton commented on #1512
@samblau and I were chatting and it looks like the easiest solution would be to add a new keyword argument, `return_all_molecules=False`, that when set to `True` would just return the entire list (we should set it to False by default to maintain backwards compatibility).

@smheidrich would you be willing to implement this with a test and submit a pull request?

[2019-06-28 23:00] smheidrich commented on #1512
So it should return one instance of ``BabelMolAdaptor`` per molecule? I agree that this would be easiest to implement (as a matter of fact, that's what I've been doing as a workaround :P), although it's not very consistent with other ``io`` modules, which generally have only one filetype-specific object associated with each file (e.g. [``xyz.XYZ``](https://pymatgen.org/pymatgen.io.xyz.html#pymatge

[2019-07-03 13:43] ltalirz opened #1520 "pymatgen<=2018.12.12 build broken on fresh python 2.7"
**Describe the bug**
The installation of pymatgen <= 2018.12.12 from source is currently broken in fresh python2.7 environments.

I believe the reason is the following:

Since pymatgen includes wheels only for the macos platform, extensions will be built from source on other platforms. pymatgen specifies the build requirement using `setup_requires`, which actually pipes through to `easy_install`
h

[2019-07-03 13:55] shyuep commented on #1520
Thanks for reporting this, but I am not inclined to issue a fix for this. Newer versions of pymatgen are Py3 only, and other packages like numpy have dropped Py27 support already. From the deprecation message, it seem that pip is going to drop it on Jan 1 2020 as well. So whatever fixes issues is going to be relevant only for the next 5 months.

I recommend that everyone transits to py3 today, rat

[2019-07-03 13:55] #1520 closed

[2019-07-03 16:17] mkhorton commented on #1520
Thanks for the write-up @ltalirz, I concur with @shyuep but I will make a note of this in the docs in case any users really need to get this working, and it's a good reminder to be more careful with the setup.py requirements in future.

[2019-07-05 11:57] ajjackson opened #1522 "Python 3.6 as hard requirement"
**Describe the bug**
I'm getting CI failures when testing a package that depends on Pymatgen with Python 3.5. It is announced in the README file that only Python 3.6 is supported, but the setup.py refers to older versions and nothing is being enforced for Pip. Please use `python_requires` to prevent Python3.5 users from "upgrading" to a (from their perspective) broken version of Pymatgen.

**To Re

[2019-07-05 17:22] mkhorton commented on #1522
Thanks @ajjackson, we’ll correct this.

The Py3.6 notice is quite new, mostly as a result of our own CI and to reduce our maintenance burden, but we’re open to explicitly supporting earlier versions of Py3 if there was a need for it in the community. Do you have any opinions on this?

[2019-07-05 19:38] ajjackson commented on #1522
3.6 is the most recent version available on most of the systems I have access to. The UCL Sumo users would definitely be ok. I'd be more worried about people doing Fireworks stuff on smaller institutional machines... Python 3.6 has only been out for 3 years, which seems to me the absolute minimum time that's ok to make it a  hard requirement without a lot of pushback.

I would love to start using

[2019-07-06 21:03] mkhorton commented on #1522
Yes, I'd be lying if I said f-strings weren't a factor :) There's also dataclasses (a back port exists for 3.6 but not 3.5), ordered dicts by default etc. We're also trying to make heavier use of type hints in the core classes, though that's a 3.5 feature so we're fine there.

If you (or anyone else reading this) has significant issues with the 3.6 requirement however please let us know, we're def

[2019-07-06 21:09] mkhorton commented on #1522
Closed via https://github.com/materialsproject/pymatgen/commit/ed9396b385e9f5b262eb0289f69630893b7f72c1

[2019-07-06 21:09] #1522 closed

[2019-07-07 09:41] ajjackson commented on #1522
Ok, thanks for clarity.

Just a comment on ordered dicts: as of 3.6 they are an implementation detail of CPython and not guaranteed. Alternative implementations may not be ordered so you should still use OrderedDict wherever it matters (but in CPython it will pass through to the same implementation as _dict_). As of 3.7 it is part of the language spec, so you can assume all dicts are ordered once

[2019-07-07 14:25] shyuep commented on #1522
Just a note that while I am on board for Dataclasses, I am less enamored of the idea of f-strings over say the standard str.format. I can certainly see convenience benefits, but in my opinion, it makes it hard to figure from context what the string actually is if the variable values are defined far away from the actual string.

[2019-07-07 19:20] mkhorton commented on #1522
f-strings can be directly equivalent to format, I see it as more a syntax choice, e.g.:

[code]

or

[code]

vs

[code]

Where a, b and c are defined is an implementation choice, at least in that sense I'm not sure I see why f-strings are any better/worse than .format

[2019-07-08 03:22] shyuep commented on #1522
The .format forces you to specify at the location of the string what the values of a, b and c are. Of course a, b and c can be defined far away, but the more common application is "{a}".format(a="hello").

[2019-07-08 08:46] shyuep commented on #1512
Just a note that CIfParser supports multiple structures. For now, I would just suggest the from_file method returns a list of BabelMolAdaptors for each molecule. We should probably rethink the BabelMolAdaptor API.

[2019-07-08 13:29] volodiag commented on #814
Hello,

The supporting files provided indeed work, thank you.
However, please update the error message in pymatgen that is misleading.

Error message gotten
RuntimeError: EnumlibAdaptor requires the executables 'enum.x' or 'multienum.x' and 'makestr.x' or 'makeStr.py' to be in the path. Please download the library at http://enum.sourceforge.net/ and follow the instructions in the README to compile

[2019-07-08 18:24] smheidrich commented on #1512
All the examples I listed do, but what I'm saying is that the API is different from what is proposed here.

Fair enough, I'll send a PR soon.

[2019-07-15 12:07] ajjackson commented on #1522
I think it's on the programmer to use both f-strings and format() responsibly. If you're going to define a template and populate it elsewhere then format() is the better tool for the job. But I write a lot of code that looks like @mkhorton 's example and in that case the f-string is easiest to read and has the least potential for surprises.

With format() I have to read more carefully in case of s

[2019-07-18 14:45] Nokimann opened #1530 "get_spd_dos() doesn't work?"
**Describe the bug & To Reproduce**
vasprun= Vasprun(path_vasprun, parse_dos=True)
dos = vasprun.complete_dos
dos.get_site_orbital_dos(dos.structure.sites[0],OrbitalType.d)
dos.get_spd_dos()
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/noki/anaconda3/envs/procar/lib/python3.7/site-packages/pymatgen/electronic_structure/dos.py", line 745, in get_spd_dos

[2019-07-18 14:51] Nokimann commented on #1530
I solved, sorry.
When I re-build the above scripts, it works.

[2019-07-18 15:25] Nokimann commented on #1530
copy.deepcopy works neither. Only after recalling the file, then it works.

[2019-07-19 11:13] Nokimann opened #1531 "sum_densities(*densities)"
**Is your feature request related to a problem? Please describe.**
When I first encountered too simple function `add_densities(density1, density2)`,
I needed to sum multiple a list of density. But there is no feature something like `sum_densities(*densities)`

**Describe the solution you'd like**
I suggest below
[code]

[2019-07-19 16:25] shyuep commented on #1531
This can be done using Python's built-in reduce function.

[2019-07-19 16:25] #1531 closed

[2019-07-23 01:25] jdagdelen opened #1533 "calling pmg command line interface throws exception when using Python 2.7"
**Describe the bug**
calling pmg command line interface throws exception
**To Reproduce**
Steps to reproduce the behavior:
1. Install pymatgen for system python (python 2.7)
2. On command line, enter "pmg -h"

**Expected behavior**
pmg cli displays help information.

**Error Message**
usr/local/lib/python2.7/site-packages/pymatgen/__init__.py:89: UserWarning:
Pymatgen will drop Py2k support from v

[2019-07-23 01:26] #1533 closed

[2019-07-23 01:27] jdagdelen commented on #1533
Pymatgen no longer supports Python 2.X.

[2019-07-23 14:32] #1512 closed

[2019-07-23 19:24] mkhorton opened #1536 "CubicSupercellTransformation and PerturbSitesTransformation not MSONable"
@utf @rees-c

This should be trivially fixable, just make sure the class attribute names match the keyword arg names and that the default values are JSON serializable (e.g. `None` for a default and set `np.Inf` in the body of the init), and then it should "just work." @rees-c you can check this by calling `.as_dict()`, `.from_dict()` etc

[2019-07-24 05:32] WSHYY opened #1537 "Failed to read cifs files"
**System**
Python version: 3.5.2
OS version: Windows 10

**Summary**
I download the cif file in AMCSD. And pymatgen failed to read the cif file

I was trying to convert cif to jcpds.

I don't know what is the problem

**Example code**
import pymatgen as mg
from pymatgen import Lattice, Structure
from pymatgen.analysis.diffraction.xrd import XRDCalculator
from pymatgen.symmetry.analyzer import Spac

[2019-07-24 05:39] mkhorton commented on #1537
I imagine it's failing because it doesn't contain positions of individual atoms, only of water molecules ("Wat"), pymatgen doesn't really know what to do here. We could reasonably put a water molecule on these positions but the orientations would be arbitrary.

[2019-07-24 16:26] Nokimann opened #1539 "Is there projected band structure on a site?"
Only two functions are pooling on elements or elements with orbital? I'm looking for a function working with the projected band structure on a particular site or a group of sites plus OrbitalType.
Also, I couldn't see the function on Orbital: s, px, py, ... (not OrbitalType: s, p, d, f)

In DOS objects, some functions are extracting on a site plus Orbital and OrbitalType.

[2019-07-24 20:13] computron commented on #1539
The "projections" attribute of the BandStructure object should have the projections:

[code]

There doesn't seem to be a convenience method to collect together the data on a single ion_index and orbital_index so you'd have to write your own that is similar to elements / elements with orbital.

[2019-07-24 20:13] #1539 closed

[2019-07-25 13:52] Nokimann opened #1540 "Improper pdos for the result from SOC calculation (VASP)"
**Describe the bug**
There are four spin numbers in vasprun.xml when we calculate DOS with SOC. They represent 'total, mx, my, and mz' for each OrbitalType. But DOS Object only considers Up and Down as Total and mx (no more than two spin numbers). And, I think Up and Down are not proper namings because they don't come from spin polarization.

**Desktop (please complete the following information):*

[2019-07-25 18:18] utf commented on #1540
I'd add this issue is also present with band structure projections. You first have orbital projections and then mx, my, mz spin projections. The spin projection information is not stored for SOC calculations.

[2019-07-26 05:51] Nokimann commented on #1540
@utf
Did you mean there are sub-class or sub-functions under the object of the orbital projection? Or, I have to construct mx, my, mz spin projections manually?

[2019-07-27 01:35] mkhorton commented on #1536
I also realize there's something overlap between `PerturbStructureTransformation` and `PerturbSitesTransformation`; thoughts on merging these?

[2019-07-30 04:53] mkhorton commented on #1536
Additionally, I just realized that PeturbSitesTransformation is a one-to-many but it doesn't follow the correct format of a one-to-many transformation (see the AbstractTransformation apply_transformation docstring or other one-to-many transformations for an example).

In the long term, I think we could probably clean up the AbstractTransformation base class to make the method signature more consis

[2019-07-30 17:16] utf commented on #1536
@rees-c Can you respond to Matts comments/fix the transformation.

[2019-07-30 20:10] rees-c commented on #1536
Hey @mkhorton ! Sorry for the late reply - I'm a bit new to Git and my gmail seems to silence my Github notifications. I'll send another pull request with the JSON serialization fixes and the corrected one-to-many format for PerturbSitesTransformation.

I see now that PerturbSitesTransformation can replicate the output of PerturbStructureTransformation. On the flip side, I feel that if a user only

[2019-07-31 18:44] samueldy opened #1542 "SlabGenerator.get_slabs() fails on pure metal FCC crystals"
**Describe the bug**
Neither `pymatgen.core.surface.SlabGenerator` nor `pymatgen.core.surface.generate_all_slabs` appear to not be able to generate slabs from FCC structures in which all atoms are of one element. When attempting to do so, the program crashes. Changing just one atom in the structure to be of a different species enables the slab generator to succeed.

**To Reproduce**
Minimal workin

[2019-07-31 18:51] mkhorton commented on #1542
It's possible this is not a bug but rather poor scaling of the algorithm, we would have to investigate further. However, there are better ways to use this class. In particular, you should not be using the supercell here:

[code]

You should be constructing the slab with your initial cell and then scaling as appropriate later. This is the purpose of the slab generator (in fact, if you use a superce

[2019-07-31 18:52] shyuep commented on #1542
The reason is that you generated a supercell first before running the SlabGenerator with primitive=True. The search for primitive cells take a long time when there are many atoms. Use fcc_basic as an input to the slab generator. If you insist on using the supercell, you should then set primitive=False. But using supercells is not a good idea since the Miller indices may be completely different (de

[2019-07-31 18:52] #1542 closed

[2019-07-31 19:11] samueldy commented on #1542
Okay, I see. If the supercell has the same aspect ratio as the unit cell (e.g., a 2 x 2 x 2 supercell of a cubic FCC unit cell), wouldn't the same Miller indices yield the same facets? I ask because I'm doing a doping study where I need a large supercell to simulate < 25% of the FCC atoms being doped, and I need the (211) surface for that particular composition.

[2019-07-31 19:13] shyuep commented on #1542
Yes, if you maintain the same cubic cell, the Miller indices are the same (subject to a scaling factor). In any case, if you want to do doped fcc surfaces, I suggest you just set primitive = False, or alternatively, you generate the cell using the primitive cell first before you generate a supercell of the slab and then do the doping.

[2019-07-31 19:16] samueldy commented on #1542
Sounds good. Thanks so much!

[2019-07-31 21:11] rees-c opened #1543 "SpacegroupAnalyzer.get_primitive_standard_structure()'s default symprec value returns a faulty structure for Mg3Sb2"
**Describe the bug**
When using `SpacegroupAnalyzer.get_primitive_standard_structure()` with the default `symprec=0.01` option on a Mg3Sb2 structure, the structure returned places the Sb atoms on top of the Mg atoms. This issue does not occur when `symprec=0.001` or `symprec=0.1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Download this file into some directory
[POSCAR-aconvasp_Mg3Sb2.t

[2019-07-31 21:28] shyuep commented on #1543
Can you report this at https://github.com/atztogo/spglib ? This is basically an issue for spglib to solve.

[2019-07-31 21:34] mkhorton commented on #1536
No worries, and thanks for the fix.

Regarding merging them, they *should* be merged, but I'm agnostic to the specific method.

The `PerturbStructureTransformation` is basically a wrapper around the `Structure.perturb` method, so one option would be to improve that method to make it more powerful.

I find the current docstring for `PerturbSitesTransformation` a little confusing actually, it's poss

[2019-07-31 21:44] shyuep commented on #1536
My view: PerturbSitesTransformation should be a one-to-one transformation. If someone wants multiple site perturbations, they can call it multiple times with different displacements. Class design should be for the most common use case, not a strangely powerful use case that is used 0.0001% of the time.

[2019-07-31 21:47] mkhorton commented on #1536
I agree -- I don't mind it being one-to-many if the "many" are just different random perturbations for the same displacement magnitude. But if the "many" are different random perturbations but also for *different* displacement magnitudes, I think that's just confusing, because you're varying two different variables.

[2019-08-01 17:44] rees-c commented on #1536
Thanks for the helpful feedback! I agree with all your points - I'll submit a pull request.

[2019-08-15 23:06] shyuep commented on #1486
Any update?

[2019-08-15 23:16] shyuep opened #1553 "Slow tests on pymatgen"
There are some tests which are ridiculously slow on pymatgen. Based on pytest, these are the slowest tests. Most are for the defect package, which I have highlighted quite a few times already. But the fragmenter test also takes a full 4 mins to run (@samblau can you speed this up?).

[code]

[2019-08-16 00:16] samblau commented on #1553
I'm actually long overdue on a general pymatgen PR, and one of the things I've done is substantially overhaul the fragmenter as well as made some key additions to graphs, both of which result in substantial speedups. That test now takes 43 seconds on my laptop. I can work on getting the PR together on Monday.

[2019-08-16 17:11] mkhorton commented on #1486
If you're asking about the enumlib bug, I'm keeping an eye on it -- myself and @ncfrey have been testing the latest enumlib version, and it seems like the bug might be fixed but only with certain compilers (it seems to work with @ncfrey via ifort, but not for myself via gfortran). But there still seems to be some weirdness going on so I'm waiting for the official release.

[2019-08-16 19:40] shyuep opened #1554 "Remove BZT 1.0 support?"
Is there a reason to keep both bzt2 and bzt1? Or can we junk bzt1 code?

@computron

[2019-08-16 21:15] computron commented on #1554
I think there are still many people that use BZT 1.0 and not BZT 2.0

- BZT 2.0 has been harder to install for many people, especially on Mac, despite it being Python (although with C bindings, the problematic part) and BZT 1.0 being Fortran.
- BZT 1.0 allows for command-line style usage which is what a lot of scientists use and prefer. BZT 2.0 is really about working with the Python objects which

[2019-08-16 23:05] shyuep commented on #1554
Ok...... the bzt1.0 is poorly covered by tests though.....

[2019-08-16 23:05] #1554 closed

[2019-08-16 23:28] shyuep commented on #1486
No i mean the alternative strategy of enumerating the ordering. I find the current mag transformation way too clunky. The bug with enumlib is a separate issue.

[2019-08-17 21:44] mkhorton commented on #1486
Ah yes, ok. There was a reason for the current method which I didn’t recall during previous discussion. So you outlined the following algorithm:

1. Fe2+ -> Mma: Spin.up: 0.5 and Mmb: Spin.down: 0.5
2. Replace all Fe2+ with the above (not create duplicate sites).
3. Do enumeration.
4. Reverse the mapping Mma -> Fe2+:Spin.up and MMb->Fe2+:Spin.down.

This works well for for a single species substit

[2019-08-17 23:29] shyuep commented on #1486
Perhaps I do not understand the scenario here. I understand of course you can have two magnetic species. But when can't Fe be assigned Mma and Mmb nad Co be assigned Mmc and Mmd with the appropriate occupancies for the enumeration? For instance, with say a 50-50 split for both species, you simply assign the occupancies of all of them to 0.25. Why wouldn't that give a proper net zero spin?

[2019-08-19 14:02] mkhorton commented on #1486
It would give a net zero spin, but would also introduce an additional constraint you may not want, namely in this example that there are equal amounts of up and down spin in each species: it would exclude a possible enumeration where one species has a disproportionate amount of up spin, and the other species a corresponding disproportionate amount of down spin, for a total net spin of zero. The cu

[2019-08-19 14:11] shyuep commented on #1486
Isn’t this just two sequential enumeration problems? One on spin and one on species? In any case, I am curious how common this is. Most species have different spins and are not drop-in replacements. E.g., Co3+ and Fe3+ have different magmoms.

[2019-08-19 15:03] mkhorton commented on #1486
It can be; it depends on what information you know about the system beforehand. There are more targeted enumerations you can do if you have a good idea about the system, this algorithm was born as a solution to the very general case. Not so common but it happens. And yes, it's true, but we might not know the specific oxidation state ahead of time (or if it's high-spin, low-spin etc.) so the enumer

[2019-08-20 19:25] shyamd commented on #1553
The defects stuff is never going to be fast. If it's causing a significant failure of tests, then we need to put it on a conditional skip to run every once in a while.

[2019-08-20 19:27] shyuep commented on #1553
Never is a word used too often. There was once a time when people said distance computations were never going to be fast.

The idea is to design the tests to ensure correct functionality using small model systems.

[2019-08-20 19:37] shyamd commented on #1553
OK, **I** will not be spending time to make them faster since they already work fast enough for defect calculations. The defect thermodynamics are already constructed using QHull, so they're unlikely to get much faster. The defect corrections will take a decent bit of understanding and effort to convert from python to Cython. The interstitial generator algorithms are just hard to develop. Danny an

[2019-08-20 19:44] shyuep commented on #1553
@shyamd It is the responsibility of all coders to write reasonable tests. No one is asking you to rewrite the code in cython. I am asking for the *tests* to be sped up, not the code.

Just for reference, I merely changed one thing from setup to setupClass in one of the defect tests, and that essentially took a full 4mins or so off the tests because the same defect generator is used for all tests -

[2019-08-20 19:44] mkhorton commented on #1553
I'm pretty sure the interstitial generator algorithms specifically could be significantly sped up (by an order of magnitude or more). They are excessively slow and missing some obvious optimizations. But I echo @shyamd; there's nobody currently working on this who can take the lead.

[2019-08-26 21:38] #3 closed, assigned to wmdrichards

[2019-08-30 09:02] fleischern opened #1569 "pymatgen/io/vasp/outputs.py SyntaxError line 4534"
Installed 2019.7.2 via pip3 and got syntax errors from the WAVEDER and WAVEDERF classes when testing the command line tool. Deleted both classes as I don't see that I need these and it works.

Have python 3.5.0 installed on a cluster runing linux 64 bit CentOS 6.

[2019-08-30 12:46] shyuep commented on #1569
Ok, I see where the syntax error might be coming from. While I can fix it, I would suggest you move to Py 3.7 and use a newer version of pymatgen. Thanks.

[2019-08-30 12:54] #1569 closed

[2019-09-04 13:36] lvjian8596 opened #1578 "Error when execute pmg analyze ."
**System**
Python version: 3.7.3
OS version: macOS Mojave
monty 1.12.0

**Summary**
I installed the  pymatgen through Conda-based install and in developmental mode as well.

When I was trying the execute "pmg analyze ." in a vasp calculaiton fold.

The following error message appears:

  File "/Users/lvjian/miniconda3/lib/python3.7/site-packages/monty/json.py", line 271, in default
    d = o.as_di

[2019-09-04 13:36] lvjian8596 commented on #1578
Could any help me to solve this problem?

[2019-09-04 16:30] shyuep commented on #1578
I just pushed a fix.

[2019-09-04 16:55] lvjian8596 commented on #1578
Thanks for the prompt reply. It works!

[2019-09-04 16:55] #1578 closed

[2019-09-04 20:56] shyuep commented on #1553
@mkhorton @shyamd If no one is working on the defects, I will begin to deprecate the entire functionality. I will remove the package in Oct 2019.

[2019-09-04 21:21] mkhorton commented on #1553
I don't think that's necessary, the defects package is broadly excellent and a result of a substantial body of work, it just doesn't have a primary maintainer to add new features or performance optimizations right now. We can commit to address any bugs as necessary however.

[2019-09-04 21:24] shyuep commented on #1553
@mkhorton As I said, I don't expect major performance optimizations - I am expecting working and reasonable tests that does not affect the overall ability to iterate on the rest of pmg code. Right now, that is not the case. I would rather sacrifice the defects package than sacrifice our ability to iterate quickly.

So someone - anyone - has to take the lead to make it happen.

[2019-09-04 21:32] mkhorton commented on #1553
We already have `EXCLUDE_TESTS` so that we can skip long-running tests in Travis that would otherwise slow down development. This is not ideal, but it seems like a sensible, pragmatic solution until the tests can be improved rather than removing an entire submodule which is deeply integrated into our workflows and has been peer-reviewed, referenced in papers, etc.

[2019-09-04 21:38] shyuep commented on #1553
There is a contradiction here. If it is "deeply integrated" into MP, then I would assume there is at least one person who is actively using and working on it, and that person can fix this. If there is "no one who has time to fix this", then it is essentially static code that no one is really caring about. Seriously, the time we spent debating on this, someone could have already done a 80% fix to s

[2019-09-04 22:58] shyamd commented on #1553
I am using the defects package regularly and am responsible for both this and interfaces. I'm currently focused on MP infrastructure since this is `on-fire`. Please just skip these tests for now, and I'll come back and fix them.

[2019-09-08 05:14] jan-janssen opened #1581 "2019.9.7 - fails during conda-forge build test"
Already the import of pymatgen fails, with the new release, as the file `pymatgen/io/vasp/incar_parameters.json` is missing.
https://github.com/conda-forge/pymatgen-feedstock/pull/8

[code]

[2019-09-08 05:18] mkhorton commented on #1581
Thanks, this is already known and has been fixed in master. A new file is missing from the packaged version, I’ll be pushing an updated release shortly.

[2019-09-08 05:26] jan-janssen commented on #1581
Ok, then I close the PR.

[2019-09-08 05:26] #1581 closed

[2019-09-08 05:34] mkhorton commented on #1581
This should now be fixed, thanks again for reporting.

[2019-09-10 00:54] bernstei opened #1585 "pymatgen.io.vasp.outputs.Wavecar fails to read WAVECAR from gamma-only VASP run"
When reading a WAVECAR that was generated by the gamma-point-only vasp executable, pymatgen.io.vasp.outputs.Wavecar fails with the error:

    'number of G points {} {}'.format(len(self.Gpoints[ink]), nplane))
ValueError: failed to generate the correct number of G points 891 446

(I added the numbers myself).  The numbers are off by a factor of 2 (+1), suggesting that it's not aware of the "-DNGXh

[2019-09-10 12:49] shyuep commented on #1585
I have no idea whether the gamma info is in the wavecar. But setting that argument seems to be a quick fix for the problem for now. Can you implement and then submit a PR with the requisite unittests pls? Thanks.

[2019-09-10 12:54] bernstei commented on #1585
I'll see what I can do.

						Noam

____________
||
|U.S. NAVAL|
|_RESEARCH_|
LABORATORY
Noam Bernstein, Ph.D.
Center for Materials Physics and Technology
U.S. Naval Research Laboratory
T +1 202 404 8628  F +1 202 404 7546
https://www.nrl.navy.mil <https://www.nrl.navy.mil/>

[2019-09-10 14:28] mkhorton commented on #1585
I think there was another issue where this was discussed, I’ll try and find
it...

On Tue, Sep 10, 2019 at 05:54, bernstei <notifications@github.com> wrote:

[2019-09-10 19:44] bernstei commented on #1585
I've worked out what needs to be done, although it's going to be a while before I would be able to release it.  It required replicating the VASP logic for which plane waves to skip, and then reconstructing the missing complex conjugate coefficients.

[2019-09-10 19:46] shyuep commented on #1585
Thanks @bernstei. Didn't realize it was so complicated!!!

[2019-09-10 19:48] mkhorton commented on #1585
Ah, the previous issue I was thinking about was actually in relation to the Waveder class (pasted here for interest https://github.com/materialsproject/pymatgen/issues/1442), which might have similar issues.

[2019-09-10 23:26] bernstei commented on #1585
From what I can tell, the only way to check is to look for mismatching numbers of plane waves (which is what the current code, and also WaveTrans, do), which isn't exactly feel like good practice, but it does seem to be the only way it can happen.  My current code needs a "gamma" flag, but I suppose one could actually switch to assuming that it's gamma-only if the number of PW doesn't match.

[2019-09-11 00:45] ws517037749 opened #1588 "Error report when using module of pymatgen_diffusion.neb.pathfinder"
**Describe the bug**
when I try to use function of FullPathMapper.get_unique_hops_dict() the 'KeyError: 'hop'' appear, but other functions work well.

**Expected behavior**
Fix the bug

**Screenshots**
![image](https://user-images.githubusercontent.com/43861983/64659820-a6d1b200-d40b-11e9-8fdc-02acca3afa59.png)

**Desktop (please complete the following information):**
 - OS: [e.g. Red Hat Enterpri

[2019-09-11 01:29] mkhorton commented on #1588
@jmmshn ?

[2019-09-11 07:42] jmmshn commented on #1588
Sorry, there should have been an example of how to us the FullPathMapper.
I have created a PR to fix this.

[2019-09-11 13:21] jmmshn commented on #1588
@ws517037749 the following file should have an example.
https://github.com/materialsvirtuallab/pymatgen-diffusion/blob/master/examples/neb_path_mapping.ipynb
The file not rendering on github for me right now but if you download the file it should work.

[2019-09-11 18:13] mturiansky commented on #1585
I wrote the original implementation for pymatgen.io.vasp.outputs.Wavecar based on WaveTrans. There's no flag or any information in the WAVECAR that will tell you whether it's gamma only or a normal one. Putting the option as an input argument is the best option (in my opinion) because this is essentially what you do with VASP (you compile a separate binary for gamma only and the WAVECAR's from gam

[2019-09-11 18:15] bernstei commented on #1585
Thanks. I think I have working code, but can someone point me at an example of a unit test, so I can develop one for this feature?

						thanks,
						Noam

[2019-09-11 18:18] mturiansky commented on #1585
[here](https://github.com/materialsproject/pymatgen/blob/bcd76b3e5e09983de52eb930799a192ef221db6a/pymatgen/io/vasp/tests/test_outputs.py#L1255-L141) are the unittests that I wrote for the Wavecar class.

[2019-09-11 18:33] bernstei commented on #1585
Thanks.  A couple of related questions.  Does the unit test actually test the contents (PW coefficients and/or values of WF in real space) of the Wavecar object, or just its metadata?  I only see the latter.  Second, where does WAVECAR.N2 come from?  Is that distributed in the pymatgen  git repo, or does the test somehow cause it to be calculated on the fly?

									Noam

[2019-09-11 18:56] bernstei commented on #1585
Never mind, I see the relevant tests.

This I still need to understand, to generate a gamma-only run WAVECAR.

							Noam

[2019-09-11 19:00] mkhorton commented on #1585
Yes, the WAVECAR.N2 lives in the test_files directory: https://github.com/materialsproject/pymatgen/blob/master/test_files/WAVECAR.N2

So the gamma-only WAVECAR would have to be added there also. Since git doesn't really like large files, the smallest sensible representative WAVECAR is definitely preferred.

[2019-09-11 19:04] bernstei commented on #1585
I don’t suppose I could get whomever contributed the WAVECAR.N2 file to run a gamma-only calculation with exactly the same parameters and add it?  Then my test could just compare it to the non-gamma-only run.

										Noam

[2019-09-11 19:22] shyuep commented on #1585
@bernstei You can just run a very small calculation using gamma point only. The calculation does not have to be good. We are only making sure of parsing. E.g., just take the primitive cell of Li and run with gamma point to get WAVECAR. You don't even need to run it on a queue. It will be done in < 1 min.

[2019-09-11 19:26] bernstei commented on #1585
True, but the easiest way to check is to compare to a non-gamma calculation of the same thing, and if I can’t re-use the existing WAVECAR.N2, I’ll have to upload two WAVECARs.  I can do that, but it’s more stuff in your repo.

									Noam

[2019-09-11 19:28] bernstei commented on #1585
Also, are the any instructions for how to run the unit tests, ideally just the vasp io ones?

						Noam

[2019-09-11 19:33] shyuep commented on #1585
Committing two small files is fine.
To run unittests, just type pytest test_outputs.py

[2019-09-11 20:39] bernstei commented on #1585
It’s failing with:

===================================================================================================== ERRORS ======================================================================================================
_____________________________________________________________________________ ERROR collecting pymatgen/io/vasp/tests/test_outputs.py __________________________________

[2019-09-11 20:42] shyuep commented on #1585
THink you need to run python setup.py develop. Build is not gong to install the compiled cython code.

[2019-09-11 21:33] mturiansky commented on #1585
As they have said, I just generated the WAVECAR.N2 with horrendously low convergence parameters (ENCUT of 25 eV, 1 kpoint, 10 Angstrom cube cell with a N2 molecule in the center, just a single-shot calculation).

In my unittests, I really just check the metadata. It's not so practical to check the actual wavefunctions and coefficients. The best check in the end is to use the "get_parchg" function

[2019-09-14 02:23] chc273 opened #1591 "VoronoiNN failed for method `get_all_voronoi_polyhedra` but ok using `get_voronoi_polyhedra` on all site indices."
**pymatgen.analysis.local_env.VoronoiNN potential bug**

I tried to compute the Voronoi Tessellation of surface structures. Using `get_all_voronoi_polyhedra` it reports `pathological structure` error. However, there is no error if I run `get_voronoi_polyhedra` on each site index. I wonder if this is a bug?

**To Reproduce**
[code]

[2019-09-14 18:12] mkhorton commented on #1591
Hi Chi -- I didn't write this class, but this behavior is not completely unexpected with Voronoi.

When asking to get the Voronoi polyhedra for a single site, only the sites immediately surrounding that site are given to the Voronoi tessellation algorithm, whereas when all sites are requested, all sites in the structure are given. Therefore it is entirely possible that asking for each site individ

[2019-09-14 22:29] chc273 commented on #1591
Thanks @mkhorton. I understand that with all the points included in the voronoi tessellation, it is more prone to error. My expectation is only that the get all voronoi polyhedron should return a list the same way as I compute each site individually (its a reasonable expectation right?). The problem is more related to implementation than physics. I will test options and let you know. Thank you aga

[2019-09-14 22:42] mkhorton commented on #1591
Yes agreed, it’s a completely reasonable expectation. I don’t know if there
are more robust Voronoi implementations out there, or if it’s a fundamental
limitation.

On Sat, Sep 14, 2019 at 15:29, Chi Chen <notifications@github.com> wrote:

[2019-09-15 02:58] shyamd commented on #1340
Should note this other set of algorithms for slab generation from Hinuma: https://arxiv.org/pdf/1508.07194.pdf

[2019-09-16 15:31] shyuep opened #1592 "Inconsistent Structure.get_distance and Lattice.get_distance methods."
Recently, @chc273 implemented a much better distance computation algo that scales linearly with # of atoms Structure.get_neighbors. But some of the other methods seem to still use Lattice.get_points_in_sphere.

I would like to unify all these treatments. Basically port the general concept of get_neighbors to Lattice.get_points_in_sphere and then have all relevant methods just call that. This is re

[2019-09-16 16:30] chc273 commented on #1592
@shyuep ok

[2019-09-16 16:40] chc273 commented on #1591
@mkhorton For the above example, it seems that increasing Voronoi cutoff to 20 Angstrom "cured" the pathological structure. Strange enough. I will close this issue. Thank you for the suggestion!

[2019-09-16 16:40] #1591 closed

[2019-09-16 16:42] #1588 closed

[2019-09-19 14:04] #1592 closed

[2019-09-23 20:38] nicodemosvarnava opened #1600 "Spin down projection does not work"
**Describe the bug**
When I try to get the projection on elements and orbitals for my bands
the spin down case does not work.
i.e.
Mn_bands = bands.get_projections_on_elements_and_orbitals({"Mn": ["s", "p","d"]})
print(Mn_bands[Spin.down][n_b][n_k]["Mn"]["s"])
I get the error:
KeyError: <Spin.down: -1>
When I replace Spin.down with Spin.up I don't get errors
**To Reproduce**
Steps to reproduce the

[2019-09-23 21:14] shyuep commented on #1600
This implies you do not have a spin down DOS. Is your run spin polarized?

[2019-09-24 17:56] nicodemosvarnava commented on #1600
Shyuep,

The calculation is spin polarized but with spin-orbit coupling
so the spin up/down channels are not well defined anymore.

Now

[2019-09-24 17:58] mkhorton commented on #1600
We would need the relevant file to be able to investigate this.

What do you get if you print `print(Mn_bands.keys())`?

[2019-09-24 17:58] shyuep commented on #1600
Hmmm... yes, that is paradoxical.

The most helpful thing would be to generalize the DOS and BS objects to support SOC calculations as well as non-SOC>

[2019-09-24 18:52] WardLT opened #1602 "Adding New Version to Conda"
**Is your feature request related to a problem? Please describe.**
Yes, the current version of matminer requires a version of pymatgen that is newer than the one on Anaconda. Without the Anaconda version, installing matminer becomes pretty tricky for Windows users.

**Describe the solution you'd like**
Updating the Anaconda version more frequently. I'm not sure if it would make sense to sync it wi

[2019-09-24 18:56] shyuep commented on #1602
If you are using the Matsci channel, try changing to conda-forge.  We are deprecating the matsci channel. That should be the latest version.

[2019-09-24 18:58] WardLT commented on #1602
Yes, I was using the "matsci" channel. Good to know about it being deprecated, I'll advise people to avoid it

[2019-09-24 18:58] #1602 closed

[2019-09-24 20:30] shyuep commented on #1602
Thanks. I have also updated all docs to note that the conda-forge version is now the official one.

[2019-09-25 11:20] RinuKulkarni opened #1604 "Pymatgen error"
Suddenly, pymatgen stopped working with this error. May, I know the reason behind this error
*ImportError: No module named pymatgen.ext.matproj

[2019-09-25 12:38] shyuep commented on #1604
You will have to give more details than that. It is impossible for us to know what happened based on that one liner description. There is a template for reporting Issues.

[2019-09-25 13:15] RinuKulkarni commented on #1604
I am trying to use this script to generate the input files for the
defect physics. Till yesterday, it was working fine but suddenly it's
showing the following error.

Traceback (most recent call last):
   File "setup2.py", line 4, in <module>
     from pymatgen.ext.matproj import MPRester
ImportError: No module named pymatgen.ext.matproj

I don't understand why it's happening.

your support will b

[2019-09-25 14:29] shyuep commented on #1604
It is unclear what script this is. And as far as I know, it should work. I can only conclude that someone uninstalled your pymatgen. Pls reinstall and try again.

[2019-09-30 12:34] Nokimann opened #1609 "Custom options in Bader Charge Analysis"
I'm not sure Pymatgen deals with other custom options, e.g., -b neargrid | ongrid | weight.
When I check, only parse_atomic_densities=True is available, or I missed.

So can we parse the custom options by the variables, or manually changing the source code?

The double star (** keywords)  at the end of any function or class might hope to this feature.

[2019-09-30 19:37] mkhorton commented on #1609
Hi @Nokimann, I just noticed this myself recently. I opened a PR to add "vacuum mode" but didn't look at the other options. You'd be welcome to pick this up and add them if you'd like: https://github.com/materialsproject/pymatgen/pull/1597

[2019-10-01 13:57] PetMetz opened #1614 "Structure.to method silently ignores user specified file format"
**Describe the bug**
(1) pymatgen.Structure.to method silently writes YAML output if the requested structure file type is not in the decision tree.

(2) Writing Protein Data Bank (.pdb) structure format evidently supported in pymatgen.io.lammps.utils, but not in Structure.to method (this is probably a separate complaint).

**To Reproduce**
Steps to reproduce the behavior:
1. create a Structure ins

[2019-10-01 16:08] mkhorton commented on #1614
Hi @PetMetz, thanks for opening this.

1. is not a bug (though may not be the best decision either); this is a default output.

2. yes, this is true; many formats are missing in the .to method, including formats supported via the ASE and OpenBabel adaptors.

I think a few things might help here. First, I think keeping a list of supported outputs from Structure.to would be helpful. Secondly, I agre

[2019-10-01 19:19] shyuep commented on #1614
I pushed a change that fixes item 1. But for item 2, I believe that PDB is actually supported if you have Openbabel installed.

[2019-10-02 06:26] Nokimann commented on #1609
@mkhorton Nice notification. So, we have to modify it in our own ways.

[2019-10-02 07:00] mkhorton commented on #1609
We can leave this issue open, we should add these features to the Bader caller. My point was that you would be welcome to add these features and submit the patch (PR) yourself if it's an urgent concern.

[2019-10-02 11:04] Nokimann opened #1615 "Trouble with linear_add of VolumetricData object"
When I tried to use `__add__` or `__sub__` functions of `VolumetricData` object, it raised an error by
[code]
In some cases of subtraction from AB system to separated A and B systems in order to see the change of charge density, we need to use something like functions above. But these AB, A, and B are totally different systems (or structure) that conflict with `self.structure != other.structure` c

[2019-10-02 12:51] #1615 closed

[2019-10-02 12:52] shyuep commented on #1615
Thanks for reporting this. I have pushed a fix that raises a warning instead of an error for different structures, but will throw an error if you try to sum spin and non-spin data, or that the dims of the data itself are different (numpy does that).

[2019-10-02 13:22] stevetorr opened #1616 "XCrySDen parser fails to handle element symbols instead of atomic numbers"
**Describe the bug**
The XCrySDen file format supports the use of atomic symbols (such as "H") to specify elements. However, the parser assumes that the elements are always integers, resulting in a failure to cast a symbol as an integer.

**To Reproduce**
An attempt to parse the following (dummy) XCrySDen output file will result in an error:

[code]

**Expected behavior**
I expect the structure to

[2019-10-02 13:33] PetMetz commented on #1614
Thanks @mkhorton and @shyuep for the quick responses.

I have installed Open Babel (or Pybel, anyway), but the file formats supported by the pymatgen.Structure.to method seem to be
- .cif
- .mcif (is this supposed to be the macromolecular cif format mmcif? it seems to write .cif syntax)
- .poscar
- .cssr
- .json
- .xsf
- mcsqs
- prismatic
- yaml

which doesn't seem to cover all the methods in pyma

[2019-10-02 18:42] #1616 closed

[2019-10-02 18:44] shyuep commented on #1614
Ok. Yeah, I usually don't think of PDB files as a Structure type. Feel free to add the function at a time of your convenience.

[2019-10-02 18:44] #1614 closed

[2019-10-02 19:11] #1400 closed

[2019-10-04 17:09] mkhorton opened #1619 "Problem with compiling pymatgen on macOS due to C++ extensions"
User report:

[code]

@chc273 This shouldn't be too hard to fix, you have to link to `libc++` on macOS instead since `libstdc++` is not supported anymore. There are a few other Python codes that have had similar issues (including BoltzTraP I think?)

[2019-10-04 17:18] shyuep commented on #1619
Just tell user to use `conda install -c conda-forge pymatgen`.

[2019-10-04 17:27] shyuep commented on #1619
Also, the current dev version of pymatgen actually does link libc++. It seems this user's Xcode is out of date.

[2019-10-04 17:30] mkhorton commented on #1619
To clarify, `python setup.py develop` is broken on macOS for development purposes. This is not just an end user issue.

[2019-10-04 17:30] shyuep commented on #1619
@chc273 Just pushed a fix.

[2019-10-04 17:30] #1619 closed

[2019-10-04 17:30] mkhorton commented on #1619
Thanks ! I'll let them know to update their Xcode also

[2019-10-04 17:48] jmmshn opened #1621 "local_env bug (regression from v2019.10.2)"
[code]

This code hits an `Exception: Site not found!`.

This is resulting from the fract that
[code]
is given weird results (as in the images are not periodic images and way too far away):
[code]

Using the v2019.10.2 code the result is:
[code]

[2019-10-04 18:01] shyuep commented on #1621
I would leave this to @mkhorton to assign the right person to debug. From a glance, it seems a confusion between frac coords and coords. As far as my simple testing goes, it does not seem to be a bug within get_neighbor itself.

Bottom-line - if author does not provide good enough unittests for people to find out about errors, no one can fix them.

[2019-10-04 18:02] mkhorton commented on #1621
This seems related to https://github.com/materialsproject/pymatgen/commit/c0736012333d1ddda8ba3dde3e0745840482c6aa and https://github.com/materialsproject/pymatgen/commit/fb327af84439cad8c71d6325fec464f8eb522e27 and the re-definition of the `Neighbor` tuple, and in part may be due to the re-definition of image offset vectors in https://github.com/materialsproject/pymatgen/pull/1610 ?

I'm surprise

[2019-10-04 18:04] mkhorton commented on #1621
A lot of tests were changed in that recent re-factoring, so I'm hesitant to assign blame on this.

[2019-10-04 18:05] shyuep commented on #1621
@mkhorton The only recent test changed was just renaming of variables...

[2019-10-04 18:11] mkhorton commented on #1621
Some numbers changed in the FEFF tests, in the local_env tests and elsewhere -- they do look like fairly simple changes due to orderings or floating point arithmetic though, so perhaps it is a case of insufficient test coverage.

@JSX can you re-run with the latest pymatgen? I'm confused how you're getting a return type of `PeriodicSite` and not `PeriodicNeighbor`.

[2019-10-04 18:19] shyuep commented on #1621
If I run the example code given, I get

[code]

Which does not seem unreasonable?

[2019-10-04 18:28] jmmshn commented on #1621
the example code gives me:

[code]

[2019-10-04 18:29] mkhorton commented on #1621
Yup, I get the same, I can't replicate the bug. @jsx could this be related to the compilation issue fixed this morning, maybe your installation is broken if you installed it manually before the fix?